/* nie zgodne ze standardami, poprawidz na extend component */
.progress {
  height: 0.5em;
  border-radius: 0rem;
}
///deep/ .progress-bar-animated {
//  -webkit-animation: progress-bar-stripes .3s linear infinite;
//  animation: progress-bar-stripes .3s linear infinite;
//}

.loader-overlay {
  position: absolute;
  width:100%;
  top:0;
  left: 0;
  opacity: 1;
  z-index: 50000;
}
