<div class="file-explorer-container">

  <app-file-explorer
    [mode]="mode"
    [editAccessAccount]="editAccessAccount"
    [fileElements]="fileElements | async"
    [path]="currentPath"
    [canNavigateUp]="canNavigateUp"
    [currentRoot]="currentRoot"
    [isLoadingData]="isLoadingData"
    (folderAdded)="addFolder($event)"
    (elementRemoved)="removeElement($event)"
    (navigatedDown)="navigateToFolder($event)"
    (navigatedUp)="navigateUp()"
    (elementRenamed)="renameElement($event)"
    (elementToggledVisibility)="toggleVisibilityElement($event)"
    (elementMoved)="moveElement($event)"
    (fileDownloaded)="downloadFile($event)"
    (filesUploaded)="uploadedFiles()">
  </app-file-explorer>

</div>
