<div class="view view-page-header">
  <div class="full-bg-img">
    <div class="mask flex-center rgba-blue-strong">
      <div class="container">
        <div class="white-text animated fadeIn">

          <h2 class="header-page">Rekrutacja</h2>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5 bg-grey-light">

  <div class="container">
    <div class="row">

      <!-- page content start -->
      <div class="text-section text-section-first">

        <h3 class="h-article">Zasady rekrutacji</h3>

        <!-- <ul>
          <li>Rekrutacja na studia podyplomowe "Technologie Internetowe" odbywa się bez egzaminów wstępnych,</li>
          <li>O przyjęciu na studia decyduje kolejność zgłoszeń (po spełnieniu formalności procesu rekrutacji),</li>
          <li>Termin składania podań na XIII edycję w roku akademickim 2018/2019 upływa dnia: <mark>30 września 2018
              roku</mark>!</li>
        </ul> -->

        <div class="row rules-cards">

          <div class="col-md-4 mb-1 animated wow fadeInRight" data-wow-delay="0.1s">
            <!-- card-image  style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);" -->
            <div class="card mb-3">

              <!-- Content -->
              <div class="text-center d-flex align-items-center rgba-white-strong py-5 px-4">
                <div>
                  <h3 class="card-icon"><i class="fa fa-check fa-3x" aria-hidden="true"></i></h3>
                  <!-- <h3 class="card-title pt-2"><strong>This is card title</strong></h3> -->
                  <p>Rekrutacja na studia podyplomowe "Technologie Internetowe" odbywa się bez egzaminów wstępnych</p>
                  <!-- <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> View project</a> -->
                </div>
              </div>
              <!-- Content -->
            </div>
            <!-- Card -->
          </div>
          <div class="col-md-4 mb-1 animated wow fadeInRight" data-wow-delay="0.2s">
            <!-- card-image  style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);" -->
            <div class="card  mb-3">


              <!-- Content -->
              <div class="text-center d-flex align-items-center rgba-white-strong py-5 px-4">
                <div>
                  <h3 class="card-icon"><i class="fa fa-users fa-3x" aria-hidden="true"></i></h3>
                  <!-- <h3 class="card-title pt-2"><strong>This is card title</strong></h3> -->
                  <p>O przyjęciu na studia decyduje kolejność zgłoszeń (po spełnieniu formalności procesu rekrutacji)</p>
                  <!-- <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> View project</a> -->
                </div>
              </div>
              <!-- Content -->
            </div>
            <!-- Card -->
          </div>
          <div class="col-md-4 mb-1 animated wow fadeInRight" data-wow-delay="0.3s">
            <!-- card-image  style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);" -->
            <div class="card  mb-3">


              <!-- Content -->
              <div class="text-center d-flex align-items-center rgba-white-strong py-5 px-4">
                <div>
                  <h3 class="card-icon"><i class="fa fa-calendar fa-3x" aria-hidden="true"></i></h3>
                  <!-- <h3 class="card-title pt-2"><strong>This is card title</strong></h3> -->
                  <p>Termin składania podań na XIII edycję w roku akademickim 2018/2019 upływa dnia: 30 września 2018
                    roku!</p>
                  <!-- <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> View project</a> -->
                </div>
              </div>
              <!-- Content -->
            </div>
            <!-- Card -->
          </div>
        </div>



      </div>

      <div class="recrut-process text-section">

        <h3 class="h-article">Proces rekrutacji</h3>

        <div class="container">
          <div class="animated fadeIn">

            <ul class="stepper stepper-vertical">

              <li class="completed wow fadeIn" data-wow-delay="0.5s">
                <a>
                  <span class="circle">1</span>
                  <span class="label">Przygotowanie dokumentów</span>
                </a>
                <div class="step-content grey lighten-3">
                  <p>W kroku pierwszym procesu rekrutacji należy wydrukować podanie o przyjęcie na studia podyplomowe
                    oraz zgromadzić pozostałe wymagane dokumenty wymienione w punkcie: </p>
                  <div class="step-link">
                    <a><i class="fa fa-file-text-o" aria-hidden="true"></i> Wymagane dokumenty</a>
                  </div>
                </div>

              </li>

              <li class="completed wow fadeIn" data-wow-delay="0.5s">

                <!--Section Title -->
                <a>
                  <span class="circle">2</span>
                  <span class="label">Dostarczenie podpisanych dokumentów</span>
                </a>

                <!-- Section Description -->
                <div class="step-content grey lighten-3">
                  <p>W kroku drugim podpisane podanie wraz z pozostałymi dokumentami należy złożyć w Dziekanacie
                    Wydziału Elektrotechniki i Informatyki, patrz punkt: </p>
                  <div class="step-link">
                      <a><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Złożenie dokumentów</a>
                  </div>
                </div>
              </li>

              <li class="completed wow fadeIn" data-wow-delay="0.5s">

                <!--Section Title -->
                <a>
                  <span class="circle">3</span>
                  <span class="label">Otrzymanie decyzji o przyjęciu</span>
                </a>

                <!-- Section Description -->
                <div class="step-content grey lighten-3">
                  <p>W kroku trzecim, po pozytywnym przejściu procesu rekrutacji, kandydat otrzymuje informację o
                    decyzji przyjęcia na studia podyplomowe oraz dane dostępowe do opcji Logowanie, patrz punkt:</p>
                  <div class="step-link">
                    <a><i class="fa fa-user-circle-o" aria-hidden="true"></i>Logowanie na stronie studiów podyplomowych</a>
                  </div>
                </div>
              </li>

            </ul>

          </div>
        </div>

      </div>

      <div class="row text-section left-col-icon  zlozenie-dokumentow">
        <div class="col-1 icon-left">
          <h3 class="h-article">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
          </h3>
        </div>
        <div class="col-11">

          <h3 class="h-article">Wymagane dokumenty</h3>

          <ul>
            <li>Podanie na ustalonym w Politechnice Rzeszowskiej formularzu wydrukowanym z Systemu Internetowej
              Rekrutacji
              (SIR), podpisane przez kandydata (<a>Tutaj jest dostępny formularz systemu SIR</a>),</li>
            <li>Odpis dyplomu ukończenia studiów wyższych lub poświadczona kserokopia,</li>
            <li>Kserokopia dowodu osobistego lub innego dokumentu potwierdzającego tożsamość,</li>
            <li>Potwierdzenie wniesienia opłaty rekrutacyjnej w wysokości 85 zł na konto:<br />
              Bank PKO SA II O/Rzeszów<br />
              nr konta: 29 1240 2614 1111 0000 3958 6445</li>
            <li>Oświadczenie dotyczące pokrycia kosztów kształcenia (dotyczy kandydatów, którym studia finansuje zakład
              pracy).</li>
          </ul>

        </div>

      </div>
      <div class="row text-section left-col-icon">
        <div class="col-1 icon-left">
          <h3 class="h-article">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </h3>
        </div>
        <div class="col-11">

          <h3 class="h-article">Złożenie dokumentów</h3>

          <p>Dziekanat Wydziału Elektrotechniki i Informatyki Politechniki Rzeszowskiej<br />
            ul. W. Pola 2<br />
            35-959 Rzeszów<br />
            Budynek A, pok. 104 lub pok. 110<br />
            Tel. +48 17 865 12 89 lub +48 17 865 17 65<br />
            Fax. +48 17 854 20 88<br />
            E-mail: <a>dwe@prz.edu.pl</a></p>

          <p><a [routerLink]="['/kontakt']">Skontaktuj się z nami</a></p>

        </div>

      </div>
      <div class="row text-section left-col-icon">
        <div class="col-1 icon-left">
          <h3 class="h-article">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          </h3>
        </div>
        <div class="col-11">

          <h3 class="h-article">Logowanie na stronie studiów podyplomowych</h3>

          <p>Po pozytywnym przejściu procesu rekrutacji każdy student otrzymuje dane dostępowe do zalogowania się na
            stronie studiów podyplomowych "Technologie Internetowe". Znajdą się tam bieżące ogłoszenia, terminy
            zjazdów,
            a
            także harmonogram zajęć w danym semestrze. (<a>Logowanie</a>)</p>

        </div>
      </div>

      <!-- END page content start -->

    </div>
  </div>

</div>