<nav class="navbar navbar-expand-lg navbar-light scrolling-navbar navbar-dark blue-gradient" id="toolbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="unselectEditUserAccess()" *ngIf="editAccessAccount">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <!-- &lt;!&ndash;&ndash;&gt; -->
      </li>
      <li class="nav-item mr-auto">
        <span *ngIf="!editAccessAccount" class="nav-link">Użytkownicy</span>
        <span *ngIf="editAccessAccount" class="nav-link">Zarządzanie uprawnieniami użytkownika <b>{{ editAccessAccount.login }}</b></span>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
    <li class="nav-item" *ngIf="!editAccessAccount"  mdbTooltip="Dodaj użytkownika" container="body" placement="top">
      <a class="nav-link" (click)="openClickNewAccount()">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
      </a>
    </li>
    <!--<li class="nav-item">-->
      <!--<a class="nav-link" (click)="openUploadDialog()">-->
        <!--<i class="fa fa-upload" aria-hidden="true"></i>-->
      <!--</a>-->
    <!--</li>-->
  </ul>
  </div>
</nav>

<div class="container-files">
  <div *ngIf="!editAccessAccount" class="table-responsive">
    <table mdbTable><!-- striped="true" -->
      <thead *ngIf="!isLoadingData">
        <tr>
          <th scope="col">Login</th>
          <th scope="col">Rola</th>
          <th scope="col">Stworzono</th>
          <th scope="col">Zmodyfikowano</th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>

      <tr mdbTableCol *ngFor="let account of accounts" >
        <!--<td class="account_icon" >&lt;!&ndash; scope="row" &ndash;&gt;-->
          <!--<i class="fa fa-user" aria-hidden="true"></i>-->
          <!--&lt;!&ndash;<i&ndash;&gt;-->
            <!--&lt;!&ndash;class="fa file-or-folder-icon"&ndash;&gt;-->
            <!--&lt;!&ndash;aria-hidden="true"&ndash;&gt;-->
            <!--&lt;!&ndash;*ngIf="element.file_type != 'folder'">&ndash;&gt;-->
          <!--&lt;!&ndash;</i>&ndash;&gt;-->
        <!--</td>-->
        <td class="account_login click" (click)="onEditUserAccess(account)">
          <span>{{ account?.login }}</span>
        </td>
        <td class="account_role click" (click)="onEditUserAccess(account)">
          <span>{{ account?.role }}</span>
        </td>
        <td class="account_created_at click" (click)="onEditUserAccess(account)">
          <span>{{account?.created_at ? account.created_at : '-' }}</span>
        </td>
        <td class="account_updated_at click" (click)="onEditUserAccess(account)">
          <span>{{account?.updated_at ? account.updated_at : '-' }}</span>
        </td>
        <td class="account_actions">
          <a class="" (click)="onEditUserAccess(account)" *ngIf="canEditUserAccess(account)" mdbTooltip="Edytuj uprawnienia" container="body" placement="top">
            <i class="fas fa-user-cog"></i>
          </a>
          <a class="" (click)="openClickEdit(account)" mdbTooltip="Edytuj" container="body" placement="top">
            <i class="fas fa-user-edit"></i>
          </a>
          <a class="text-red" (click)="onClickDelete(account)" mdbTooltip="Usuń" container="body" placement="top">
            <i class="fas fa-user-times"></i>
          </a>
        </td>
      </tr>
      <tr mdbTableCol *ngIf="(accounts == null || accounts == undefined || accounts.length == 0) && !isLoadingData">
        <td class="text-left">Brak użytkowników</td>
      </tr>
      <tr mdbTableCol class="ladowanie wow fadeIn" *ngIf="isLoadingData">
        <!--<td class="text-left"></td>-->
        <td colspan="5" class="">
          <i class="fa fa-circle wow pulse infinite" aria-hidden="true" data-wow-delay="0s"></i>
          <i class="fa fa-circle wow pulse infinite" aria-hidden="true" data-wow-delay="0.2s"></i>
          <i class="fa fa-circle wow pulse infinite" aria-hidden="true" data-wow-delay="0.4s"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="editAccessAccount">
      <app-files-manager [mode]="fileManagerMode" [editAccessAccount]="editAccessAccount">
      </app-files-manager>
  </div>
</div>
