<div class="program-header">

  <div class="mask flex-center rgba-blue-strong">
    <div class="container">
      <div class="white-text animated fadeIn">

        <div class="program-header-text">
          <h4>Semestr I</h4>
          <h2>Projektowanie baz danych</h2>
        </div>

      </div>
    </div>
  </div>

</div>

<h3>Wykład</h3>

<p>Bazy danych i ich użytkownicy. System zarządzania bazą danych. Prosty przykład relacyjnej bazy danych. Pojęcie i
  struktura relacji. Algebra relacji i operatory algebry relacji. Języki baz danych. Metodyka projektowania relacyjnej
  bazy danych. Budowa modeli konceptualnych za pomocą diagramów związków encji (ERD). Normalizacja modeli. Notacja UML
  dla modeli danych. Przejście do modelu implementacyjnego: modele relacyjne, hierarchiczne i sieciowe. Postacie
  normalne i normalizacja bazy relacyjnej. Obiektowo-relacyjne i obiektowe bazy danych. </p>

<h3>Laboratorium</h3>

<p>Praca z bazami MySQL i Oracle (możliwość wyboru innych systemów). Realizacja zadań indywidualnych w zakresie
  projektowania i implementacji strony serwera dla prostych systemów baz danych. </p>

<h3>Projekt</h3>

<p>Specyfikacja wymagań, opracowanie modelu i projektu przykładowej bazy danych.</p>

<h3>Technologie</h3>

<div class="dev-icon-list">
  <i class="devicon-mysql-plain" mdbTooltip="MySQL" placement="top"></i>
    <i class="devicon-oracle-original" mdbTooltip="Oracle" placement="top"></i>
</div>