<div class="program-header">

  <div class="mask flex-center rgba-blue-strong">
    <div class="container">
      <div class="white-text animated fadeIn">

        <div class="program-header-text">
          <h4>Przedmiot obieralny</h4>
          <h2>Programowanie systemów ekspertowych</h2>
        </div>

      </div>
    </div>
  </div>

</div>

<h3>Wykład</h3>

<ol>
  <li>Zagadnienia wstępne: struktura i rodzaje systemów ekspertowych (SE), przykładowe systemy dedykowane, narzędzia
    programisty,</li>
  <li>Reprezentacja wiedzy (fakty, reguły), metody wnioskowania w SE, wnioskowanie w przód i wstecz,</li>
  <li>Język CLIPS: środowisko pracy, rodzaje faktów, reguły, mechanizm wnioskowania,</li>
  <li>Język CLIPS: zmienne, operacje wejścia/wyjścia, programowanie proceduralne,</li>
  <li>Język Prolog: środowisko pracy, składnia języka, termy i unifikacja termów,</li>
  <li>Język Prolog: cele, nawracanie, sterowanie nawrotami, listy,</li>
  <li>PC-Shell: zintegrowane środowisko programowania SE, zasady tworzenia systemu, przykład.</li>
</ol>

<h3>Laboratorium</h3>

<p>Samodzielne programowanie prostych systemów ekspertowych w językach CLIPS i PROLOG:</p>
<ol>
  <li>Inteligentna baza danych (telefony komórkowe, zakład ubezpieczeń, auto-komis, itp.),</li>
  <li>System ekspertowy (doradca finansowy, wybór telefonu, diagnoza uszkodzeń w samochodzie, itp.).</li>
</ol>
<p>Tematyka zadań będzie wybierana przez słuchaczy.</p>

<!-- <h3>Projekt</h3>
  
  <p>Projekt i implementacja aplikacji bazy danych w wybranym systemie. Proste sklepy internetowe.</p> -->

<h3>Technologie</h3>

<div class="dev-icon-list">
  <i class="devicon-c-plain"></i>
  <i class="devicon-cplusplus-plain"></i>
  <i class="devicon-csharp-plain"></i>
</div>