mdb-card-body p {
  text-align: justify;
}
.testimonial-card img {
  height: 125px;
}
.card-up {
  //height: 50px;
  //background-color: #2196f3;
}
.testimonial-card .avatar {
  margin: 15px 0 0 0;
}
.dev-icon-list {
  margin: 5px 0;
}
.dev-icon-list i {
  color: #2196f3;
  font-size: 2em;
  padding: 0 4px;
}
.feature {
  //padding-bottom: 5rem !important;
}
