mdb-card-body p {
  text-align: justify;
}
.testimonial-card img {
  height: 125px;
}
.card-up {
  //height: 50px;
  //background-color: #2196f3;
}
.testimonial-card .avatar {
  margin: 15px 0 0 0;
}
