<div class="container">
  <div class="row">
    <div class="col-md-8 text-left">

      <!--Grid row-->
      <div class="row pb-4">
        <div class="col-1 col-lg-1">
          <i class="fa fa-bank indigo-text fa-lg"></i>
        </div>
        <div class="col-11">
          <h4 class="font-weight-bold mb-4">
            <strong>Dla kogo studia?</strong>
          </h4>
          <p class="">O przyjęcie na studia podyplomowe "TECHNOLOGIE INTERNETOWE" mogą ubiegać się wszystkie osoby
            posiadające dyplom licencjata, inżyniera lub magistra, zainteresowane poszerzeniem swojej wiedzy o elementy
            informatyki z dziedziny nowoczesnych technologii internetowych.</p>

          <p>W szczególności studia "Technologie Internetowe" adresowane są do:</p>
          <ul>
            <li>osób projektujących, programujących i wdrażających rozwiązania internetowe i intranetowe,</li>
            <li>administratorów sieci komputerowych i osób zarządzających witrynami sieci Web, a także bazami danych,
            </li>
            <li>pracowników działów informatycznych podmiotów gospodarczych, urzędów administracji samorządowej i
              rządowej,
            </li>
            <li>nauczycieli informatyki pragnących podnieść swoje kwalifikacje do nauczania przedmiotów z zakresu
              tematyki studiów,
            </li>
            <li>absolwentów wyższych uczelni o kierunkach nieinformatycznych zainteresowanych tematyką studiów,</li>
            <li>a także wszystkich pasjonatów programowania usług sieciowych, tworzenia witryn responsywnych i
              programowania
              urządzeń mobilnych.
            </li>

          </ul>


        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-4">
        <div class="col-1 col-lg-1">
          <i class="fa fa-money purple-text fa-lg"></i>
        </div>
        <div class="col-11">
          <h4 class="font-weight-bold mb-4">
            <strong>Nasze atuty</strong>
          </h4>

          <ul>
            <li>Wysoko wykwalifikowana kadra naukowo–dydaktyczna</li>
            <li>Atrakcyjny program studiów</li>
            <li>Nowoczesna baza laboratoryjna</li>
            <li>Specjalistyczne zbiory biblioteczne</li>
            <li>Dostęp do światowych baz naukowych</li>
            <li>Dogodne warunki płatności</li>
            <li>Kompetentna obsługa administracyjna</li>
          </ul>

          <blockquote class="blockquote">
            <p class="mb-0">"Teorię przekładamy na praktyczne przykłady łatwe do zrozumienia i gotowe do wdrożenia"</p>
          </blockquote>


        </div>
      </div>

      <!--Grid row-->
      <div class="row pb-4">
        <div class="col-1 col-lg-1">
          <i class="fa fa-desktop deep-purple-text fa-lg"></i>
        </div>
        <div class="col-11">
          <h4 class="font-weight-bold mb-4">
            <strong>Dlaczego warto studiować?</strong>
          </h4>
          <p class="">Rozwój nowoczesnych, obecnych i przyszłych technologii w wielu obszarach, takich jak np.:</p>
          <ul>
            <li>Internet Rzeczy (Internet of Things)</li>
            <li>Obliczenia w chmurze (Cloud computing)</li>
            <li>Urządzenia mobilne (Mobile devices)</li>
            <li>Urządzenia wbudowane (Embedded devices)</li>
            <li>Usługi sieciowe (Web services)</li>
            <li>Aplikacje SPA (Single Page Applications) i PWA (Progressive Web Applications)</li>
            <li>Semantyczna sieć Web (Semantic Web)</li>
          </ul>

          <p>wymaga znajomości nowoczesnych języków programowania, w tym języka Java.</p>

          <!--<blockquote class="blockquote">-->
            <!--<p class="mb-0">"Programuj z nami ... swoją przyszłość!"</p>-->
            <!--<p class="">Kierownik studiów podyplomowych "Technologie Internetowe"<br/>-->
              <!--<b>dr hab. inż. Jan PROKOP, prof. PRz</b></p>-->
          <!--</blockquote>-->




        </div>
      </div>
      <!--Grid row-->



    </div>

    <div class="col-md-4">

      <!-- Card Light -->
      <div class="card">

        <!-- Card content -->
        <div class="card-body">

          <!-- Social shares button -->
          <!--<a class="activator waves-effect waves-light mr-4"><i class="fa fa-share-alt"></i></a>-->
          <!-- Title -->
          <h5 class="card-title">Aktualności</h5>
          <h6>Rok akademicki 2018/19, edycja XIII</h6>
          <hr>
          <!-- Text -->
          <p class="card-text text-left">
            Status rekrutacji: zakończona!<br/>
            Termin zgłoszeń: do 30 września 2018!<br/>
            Rozpoczęcie zajęć: październik 2018<br/>
            Limit miejsc: 35 (kolejność zgłoszeń), minimalna liczba osób 25
          </p>
          <!-- Link -->
          <a href="#!" class="black-text d-flex justify-content-end"><p>Dowiedz się więcej <i class="fa fa-angle-double-right"></i></p></a>

        </div>

      </div>

      <br/>

      <div class="card">

        <!-- Card content -->
        <div class="card-body ">

          <!-- Social shares button -->
          <!--<a class="activator waves-effect waves-light mr-4"><i class="fa fa-share-alt"></i></a>-->
          <!-- Title -->
          <h5 class="card-title">Studia podyplomowe</h5>
          <hr>
          <!-- Text -->
          <div class="card-text text-left">
            <h6>Czas trwania studiów:</h6>
            <p>2 semestry - październik 2018 - czerwiec 2019</p>
            <h6>Liczba godzin:</h6>
            <p>301 - wykłady, laboratoria, projekty, konsultacje</p>
            <h6>Punkty ETCS:</h6>
            <p>60 (sem. I - 30, sem. II - 30)</p>
            <h6>Opłata za studia (w roku akademickim 2018/19):</h6>
            <p>2 (semestry) x 2700 PLN (za semestr) = 5400 PLN + 85 PLN opłata rekrutacyjna</p>
          </div>
          <!-- Link -->
          <!--<a href="#!" class="black-text d-flex justify-content-end"><p>Skontaktuj się z nami <i class="fa fa-comments"></i></p></a>-->
          <button type="button" class="btn btn-primary btn-md text-center"><i class="fa fa-briefcase" aria-hidden="true"></i> Organizacja</button>

        </div>

      </div>

      <br/>

      <!--http://jprokop.prz.edu.pl/pic/jp.jpg-->
      <!-- Card -->
      <div class="card testimonial-card">

        <!-- Background color -->
        <div class="card-up indigo lighten-1"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle" alt="woman avatar">
        </div>

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">Jan Prokop</h4>
          <hr>
          <!-- Quotation -->
          <p><i class="fa fa-quote-left"></i> "Programuj z nami ... swoją przyszłość!"</p>
          <p class="font-small">Kierownik studiów podyplomowych "Technologie Internetowe"<br/>
            <span class="font-weight-bold">dr hab. inż. Jan PROKOP, prof. PRz</span></p>
        </div>

      </div>
      <!-- Card -->

      <br/>

      <div class="card">

        <!-- Card content -->
        <div class="card-body">

          <!-- Social shares button -->
          <!--<a class="activator waves-effect waves-light mr-4"><i class="fa fa-share-alt"></i></a>-->
          <!-- Title -->
          <h5 class="card-title">Pytania</h5>
          <hr>
          <!-- Text -->
          <p class="card-text">Rekrutacja, zasady przyjęć: dwe@prz.edu.pl<br/>
            Plan studiów, programy przedmiotów: jprokop@prz.edu.pl</p>
          <p>Masz pytania?</p>
          <!-- Link -->
          <!--<a href="#!" class="black-text d-flex justify-content-end"><p>Skontaktuj się z nami <i class="fa fa-comments"></i></p></a>-->
          <button type="button" class="btn btn-primary btn-md"><i class="fa fa-comments"></i> Skontaktuj się z nami</button>

        </div>

      </div>
      <!-- Card Light -->

    </div>
  </div>

  <div class="row">
    <!--Projects section v.1-->
    <section>

      <!--Section heading-->
      <h2 class="text-center h1 py-5">
        <strong>Poznaj języki i technologie w ramach przedmiotów</strong>
      </h2>

      <!--Section description-->
      <!--<p class="grey-text pb-5 text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat-->
      <!--cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->

      <!--Grid row-->
      <div class="row text-center">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <div class="card-item">

            <div class="view overlay zoom rounded z-depth-1 waves-light" mdbWavesEffect>
              <img src="https://mdbootstrap.com/img/Photos/Others/images/18.jpg" class="img-fluid"
                   alt="Sample project image">
              <a>
                <div class="mask rgba-blue-strong flex-center">
                  <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                </div>
              </a>
            </div>

            <mdb-card-body class="mt-3">
              <h4>
                <strong>Programowanie obiektowe</strong>
              </h4>
              <p class="grey-text">Zasady programowania obiektowego, klasy i obiekty. Dziedziczenie i polimorfizm.
                Wykorzystanie dynamicznej alokacji pamięci. Zintegrowane środowiska programowe języka C++. Proces
                programowania. Wybór optymalnego rozmiaru modelu programu. Niezawodność oprogramowania.
              </p>
              <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
              <!--<i class="fa fa-arrow-right left"></i> Dowiedz się więcej</a>-->
            </mdb-card-body>
          </div>


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <div class="card-item">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
              <img src="https://mdbootstrap.com/img/Photos/Others/images/10.jpg" class="img-fluid"
                   alt="Sample project image">
              <a>
                <div class="mask rgba-blue-strong flex-center">
                  <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                </div>
              </a>
            </div>

            <!--Excerpt-->
            <mdb-card-body class="mt-3">
              <h4>
                <strong>Technologie sieci Web</strong>
              </h4>
              <p class="grey-text">Projektowanie witryn responsywnych (RWD), język HTML5 z CSS3. Język JavaScript,
                obiektowy model dokumentu (DOM) języków HTML i XML. Technologia AJAX. Język PHP, OOP, aplikacje MVC.
                Aplikacje SPA i PWA. Web Services (WS), SOAP WS, RESTful WS. Semantic Web, metadane, ontologie, logika,
                agenci.
              </p>
              <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
              <!--<i class="fa fa-clone left"></i> Dowiedz się więcej</a>-->
            </mdb-card-body>
          </div>


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <div class="card-item">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
              <img src="https://mdbootstrap.com/img/Photos/Others/images/19.jpg" class="img-fluid"
                   alt="Sample project image">
              <a>
                <div class="mask rgba-blue-strong flex-center">
                  <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                </div>
              </a>
            </div>

            <!--Excerpt-->
            <mdb-card-body class="mt-3">
              <h4>
                <strong>Programowanie w języku Java</strong>
              </h4>
              <p class="grey-text">Platformy Java SE, EE, ME. Programowanie aplikacji z GUI (AWT, Swing, JavaFX).
                Programowanie serwletów, obsługa baz danych (JDBC, JPA), przetwarzanie dokumentów JSON i XML (SAX, Stax,
                DOM), JAXB. Technologia JavaBeans, EJB, JSF. Java ME (biblioteka LWUIT). Programowanie urządzeń
                mobilnych
                z systemem ANDROID.
              </p>
              <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
              <!--<i class="fa fa-clone left"></i> Dowiedz się więcej</a>-->
            </mdb-card-body>
          </div>


        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <div class="row text-center">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <div class="card-item">
            <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
              <img src="https://mdbootstrap.com/img/Photos/Others/images/4.jpg" class="img-fluid"
                   alt="Sample project image">
              <a>
                <div class="mask rgba-blue-strong flex-center">
                  <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                </div>
              </a>
            </div>

            <mdb-card-body class="mt-3">
              <h4>
                <strong>Bazy danych</strong>
              </h4>
              <p class="grey-text">Pojęcie i struktura relacji, algebra relacji. Języki baz danych. Metodyka
                projektowania relacyjnej bazy danych. Budowa modeli konceptualnych za pomocą diagramów związków encji
                (ERD). Normalizacja modeli. Notacja UML dla modeli danych. Obiektowo-relacyjne i obiektowe bazy danych.
                Wybrane zagadnienia języka SQL.
              </p>
              <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
              <!--<i class="fa fa-clone left"></i> Dowiedz się więcej</a>-->
            </mdb-card-body>
          </div>

        </div>

        <div class="col-lg-4 col-md-12 mb-4">

          <div class="card-item">
            <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
              <img src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" class="img-fluid"
                   alt="Sample project image">
              <a>
                <div class="mask rgba-blue-strong flex-center">
                  <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                </div>
              </a>
            </div>

            <mdb-card-body class="mt-3">
              <h4>
                <strong>Sieci komputerowe</strong>
              </h4>
              <p class="grey-text">Podstawy transmisji, topologie sieci, podstawowe parametry, adresacja. Model
                warstwowy ISO/OSI i TCP/IP. Sieci WLAN. Protokoły drzewa rozpinającego. Protokoły routingu. Media
                transmisyjne w sieciach komputerowych. Podstawy routingu. Projektowanie sieci komputerowych. Zarządzanie
                sieciami komputerowymi.
              </p>
              <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
              <!--<i class="fa fa-clone left"></i> Dowiedz się więcej</a>-->
            </mdb-card-body>
          </div>

        </div>

        <div class="col-lg-4 col-md-12 mb-4">

          <div class="card-item">
            <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
              <img src="https://mdbootstrap.com/img/Photos/Others/images/12.jpg" class="img-fluid"
                   alt="Sample project image">
              <a>
                <div class="mask rgba-blue-strong flex-center">
                  <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                </div>
              </a>
            </div>

            <mdb-card-body class="mt-3">
              <h4>
                <strong>Przedmioty obieralne</strong>
              </h4>
              <p class="grey-text">W ramach studiów podyplomowych "Technologie Internetowe" studenci w zależności od
                swoich preferencji mogą wybrać jeden z czterech przedmiotów obieralnych:
                Grafika komputerowa, Programowanie systemów ekspertowych, Sztuczna inteligencja, Technologie
                programistyczne usług internetowych.
              </p>
              <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
              <!--<i class="fa fa-clone left"></i> Dowiedz się więcej</a>-->
            </mdb-card-body>
          </div>

        </div>

      </div>

    </section>
    <!--/Projects section v.1-->
  </div>
</div>
