<div class="view view-100vh" id="home-1">
  <div class="full-bg-img">
    <div class="mask flex-center pattern-5"><!-- -->
      <div class="container">
        <div class="white-text text-center wow fadeInUp" data-wow-delay="1.2s">

          <div class="icon-slider" [ngClass]="{'animateLeftRight': startedHome1Animation}">
            <i class="bounce" [class]="activeIcon"></i>
          </div>

          <h2>Zdobądź wiedzę pożądaną na rynku pracy!</h2>

          <h5>Najbliższa planowana edycja studiów podyplomowych<br/>"Technologie Internetowe" - październik 2019.</h5>
          <br/>
          <button
            mdbBtn
            type="button"
            color="white"
            mdbWavesEffect>
            <i class="fa fa-angle-double-down" aria-hidden="true"></i> Dowiedz się więcej
          </button>
          <button
            mdbBtn
            type="button"
            color="white"
            outline="true"
            mdbWavesEffect>
            <i class="fa fa-briefcase" aria-hidden="true"></i> Rekrutacja
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="view view-100vh" id="home-2">
  <div class="full-bg-img">
    <div class="mask flex-center"><!--  -->
      <div class="container">
        <div class="white-text wow" data-wow-delay="1s">

          <h2 class="font-weight-bold">
            <strong>Dlaczego warto studiować?</strong>
          </h2>
          <h5 class="py-2 mb-4">Rozwój nowoczesnych, obecnych i przyszłych technologii w wielu obszarach, takich jak
            np.:</h5>
          <!--<ul class="text-left">-->
          <!--<li>Internet Rzeczy (Internet of Things)</li>-->
          <!--<li>Obliczenia w chmurze (Cloud computing)</li>-->
          <!--<li>Urządzenia mobilne (Mobile devices)</li>-->
          <!--<li>Urządzenia wbudowane (Embedded devices)</li>-->
          <!--<li>Usługi sieciowe (Web services)</li>-->
          <!--<li>Aplikacje SPA (Single Page Applications) i PWA (Progressive Web Applications)</li>-->
          <!--<li>Semantyczna sieć Web (Semantic Web)</li>-->
          <!--</ul>-->

          <!--<p>wymaga znajomości nowoczesnych języków programowania, w tym języka Java.</p>-->

          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" >
              <div class="card card-image mb-4 card1">
                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Internet Rzeczy</h3>
                    <h5 class="eng-text">Internet of Things</h5>

                  </div>
                </div>
              </div>

            </div><!-- end card -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.3s">
              <div class="card card-image mb-4 card2">

                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Obliczenia w chmurze</h3>
                    <h5 class="eng-text">Cloud computing</h5>

                  </div>
                </div>

              </div><!-- end card -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.6s">
              <div class="card card-image mb-4 card3">

                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Urządzenia mobilne</h3>
                    <h5 class="eng-text">Mobile devices</h5>

                  </div>
                </div>

              </div><!-- end card -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
              <div class="card card-image mb-4 card4">

                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Urządzenia wbudowane</h3>
                    <h5 class="eng-text">Embedded devices</h5>

                  </div>
                </div>

              </div><!-- end card -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.6s">
              <div class="card card-image mb-4 card5">

                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Usługi sieciowe</h3>
                    <h5 class="eng-text">Web services</h5>

                  </div>
                </div>

              </div><!-- end card -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.9s">
              <div class="card card-image mb-4 card6">

                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Aplikacje SPA</h3>
                    <h5 class="eng-text">Single Page Applications</h5>

                  </div>
                </div>

              </div><!-- end card -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp"  data-wow-delay="0.6s">
              <div class="card card-image mb-4 card7">

                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Aplikacje PWA</h3>
                    <h5 class="eng-text">Progressive Web Applications</h5>

                  </div>
                </div>

              </div><!-- end card -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp"  data-wow-delay="0.9s">
              <div class="card card-image mb-4 card8">

                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Semantyczna sieć Web</h3>
                    <h5 class="eng-text">Semantic Web</h5>

                  </div>
                </div>

              </div><!-- end card -->
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="view view-100vh" id="home-3">-->
  <!--<div class="full-bg-img">-->
    <!--<div class="mask flex-center rgba-yellow-slight">&lt;!&ndash;  &ndash;&gt;-->
      <!--<div class="container">-->
        <!--<div class="white-text wow" data-wow-delay="1s">-->

          <!--<h4 class="font-weight-bold mb-4">-->
            <!--<strong>Dla kogo studia?</strong>-->
          <!--</h4>-->
          <!--<p class="">O przyjęcie na studia podyplomowe "TECHNOLOGIE INTERNETOWE" mogą ubiegać się wszystkie osoby-->
            <!--posiadające dyplom licencjata, inżyniera lub magistra, zainteresowane poszerzeniem swojej wiedzy o elementy-->
            <!--informatyki z dziedziny nowoczesnych technologii internetowych.</p>-->

          <!--<p>W szczególności studia "Technologie Internetowe" adresowane są do:</p>-->
          <!--<ul>-->
            <!--<li>osób projektujących, programujących i wdrażających rozwiązania internetowe i intranetowe,</li>-->
            <!--<li>administratorów sieci komputerowych i osób zarządzających witrynami sieci Web, a także bazami danych,-->
            <!--</li>-->
            <!--<li>pracowników działów informatycznych podmiotów gospodarczych, urzędów administracji samorządowej i-->
              <!--rządowej,-->
            <!--</li>-->
            <!--<li>nauczycieli informatyki pragnących podnieść swoje kwalifikacje do nauczania przedmiotów z zakresu-->
              <!--tematyki studiów,-->
            <!--</li>-->
            <!--<li>absolwentów wyższych uczelni o kierunkach nieinformatycznych zainteresowanych tematyką studiów,</li>-->
            <!--<li>a także wszystkich pasjonatów programowania usług sieciowych, tworzenia witryn responsywnych i-->
              <!--programowania-->
              <!--urządzeń mobilnych.-->
            <!--</li>-->

          <!--</ul>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="view view-100vh" id="home-4">
  <div class="full-bg-img">
    <div class="mask flex-center rgba-blue-strong"><!--  -->
      <div class="container">
        <div class="white-text wow" data-wow-delay="1s">

          <h2 class="font-weight-bold mb-4">
            <strong>Nasze atuty</strong>
          </h2>

          <ul>
            <li class="wow fadeInRight" data-wow-delay="0s">
              <i class="fa fa-university" aria-hidden="true"></i> Wysoko wykwalifikowana kadra naukowo–dydaktyczna
            </li>
            <li class="wow fadeInRight" data-wow-delay="0.1s">
              <i class="fa fa-star" aria-hidden="true"></i> Atrakcyjny program studiów
            </li>
            <li class="wow fadeInRight" data-wow-delay="0.2s">
              <i class="fa fa-desktop" aria-hidden="true"></i> Nowoczesna baza laboratoryjna
            </li>
            <li class="wow fadeInRight" data-wow-delay="0.3s">
              <i class="fa fa-book" aria-hidden="true"></i> Specjalistyczne zbiory biblioteczne
            </li>
            <li class="wow fadeInRight" data-wow-delay="0.4s">
              <i class="fa fa-database" aria-hidden="true"></i> Dostęp do światowych baz naukowych
            </li>
            <li class="wow fadeInRight" data-wow-delay="0.5s">
              <i class="fa fa-money" aria-hidden="true"></i> Dogodne warunki płatności
            </li>
            <li class="wow fadeInRight" data-wow-delay="0.6s">
              <i class="fa fa-black-tie" aria-hidden="true"></i> Kompetentna obsługa administracyjna
            </li>
          </ul>

          <!--<blockquote class="blockquote">-->
          <!--<p class="mb-0">"Teorię przekładamy na praktyczne przykłady łatwe do zrozumienia i gotowe do wdrożenia"</p>-->
          <!--</blockquote>-->

        </div>
      </div>
    </div>
  </div>
</div>


<div class="view-auto" id="home-technology">
  <div class="full-bg-img">
    <div class="mask flex-center"><!-- rgba-blue-strong -->
      <div class="container">
        <div class="text text-center wow" data-wow-delay="1s">

          <section>

            <!--Section heading-->
            <h2 class="text-center h1 py-5">
              <strong>Poznaj języki i technologie w ramach przedmiotów</strong>
            </h2>

            <!--Section description-->
            <!--<p class="text pb-5 text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat-->
            <!--cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->

            <!--Grid row-->
            <div class="row text-center wow fadeInUp" data-wow-delay="0.5s">

              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">

                <div class="card-item">

                  <div class="view overlay zoom rounded z-depth-1 waves-light" mdbWavesEffect>
                    <img src="/assets/home_tech/1.jpg" class="img-fluid"
                         alt="Sample project image">
                    <a>
                      <div class="mask rgba-blue-strong flex-center">
                        <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                      </div>
                    </a>
                  </div>

                  <mdb-card-body class="mt-3">
                    <h4>
                      <strong>Programowanie obiektowe</strong>
                    </h4>
                    <div class="dev-icon-list">
                      <i class="devicon-c-plain"></i>
                      <i class="devicon-cplusplus-plain"></i>
                      <i class="devicon-csharp-plain"></i>
                    </div>
                    <p class="text">Zasady programowania obiektowego, klasy i obiekty. Dziedziczenie i polimorfizm.
                      Wykorzystanie dynamicznej alokacji pamięci. Zintegrowane środowiska programowe języka C++. Proces
                      programowania. Wybór optymalnego rozmiaru modelu programu. Niezawodność oprogramowania.
                    </p>
                    <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
                    <!--<i class="fa fa-arrow-right left"></i> Dowiedz się więcej</a>-->
                  </mdb-card-body>
                </div>


              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">

                <div class="card-item">
                  <!--Featured image-->
                  <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
                    <img src="/assets/home_tech/2.jpg" class="img-fluid"
                         alt="Sample project image">
                    <a>
                      <div class="mask rgba-blue-strong flex-center">
                        <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                      </div>
                    </a>
                  </div>

                  <!--Excerpt-->
                  <mdb-card-body class="mt-3">
                    <h4>
                      <strong>Technologie sieci Web</strong>
                    </h4>
                    <div class="dev-icon-list">
                      <i class="devicon-html5-plain"></i>
                      <i class="devicon-css3-plain"></i>
                      <i class="devicon-javascript-plain"></i>
                      <i class="devicon-php-plain"></i>
                    </div>
                    <p class="text">Projektowanie witryn responsywnych (RWD), język HTML5 z CSS3. Język JavaScript,
                      obiektowy model dokumentu (DOM) języków HTML i XML. Technologia AJAX. Język PHP, OOP, aplikacje
                      MVC.
                      Aplikacje SPA i PWA. Web Services (WS), SOAP WS, RESTful WS. Semantic Web, metadane, ontologie,
                      logika,
                      agenci.
                    </p>
                    <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
                    <!--<i class="fa fa-clone left"></i> Dowiedz się więcej</a>-->
                  </mdb-card-body>
                </div>


              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4">

                <div class="card-item">
                  <!--Featured image-->
                  <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
                    <img src="/assets/home_tech/3.jpg" class="img-fluid"
                         alt="Sample project image">
                    <a>
                      <div class="mask rgba-blue-strong flex-center">
                        <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                      </div>
                    </a>
                  </div>

                  <!--Excerpt-->
                  <mdb-card-body class="mt-3">
                    <h4>
                      <strong>Programowanie w języku Java</strong>
                    </h4>
                    <div class="dev-icon-list">
                      <i class="devicon-java-plain"></i>
                    </div>
                    <p class="text">Platformy Java SE, EE, ME. Programowanie aplikacji z GUI (AWT, Swing, JavaFX).
                      Programowanie serwletów, obsługa baz danych (JDBC, JPA), przetwarzanie dokumentów JSON i XML (SAX,
                      Stax,
                      DOM), JAXB. Technologia JavaBeans, EJB, JSF. Java ME (biblioteka LWUIT). Programowanie urządzeń
                      mobilnych
                      z systemem ANDROID.
                    </p>
                    <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
                    <!--<i class="fa fa-clone left"></i> Dowiedz się więcej</a>-->
                  </mdb-card-body>
                </div>


              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            <div class="row white-text-center wow fadeInUp" data-wow-delay="0.75-s">

              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4">

                <div class="card-item">
                  <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
                    <img src="/assets/home_tech/4.jpg" class="img-fluid"
                         alt="Sample project image">
                    <a>
                      <div class="mask rgba-blue-strong flex-center">
                        <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                      </div>
                    </a>
                  </div>

                  <mdb-card-body class="mt-3">
                    <h4>
                      <strong>Bazy danych</strong>
                    </h4>
                    <div class="dev-icon-list">
                      <i class="devicon-mysql-plain"></i>
                      <i class="devicon-mongodb-plain"></i>
                      <i class="devicon-postgresql-plain"></i>
                    </div>
                    <p class="text">Pojęcie i struktura relacji, algebra relacji. Języki baz danych. Metodyka
                      projektowania relacyjnej bazy danych. Budowa modeli konceptualnych za pomocą diagramów związków
                      encji
                      (ERD). Normalizacja modeli. Notacja UML dla modeli danych. Obiektowo-relacyjne i obiektowe bazy
                      danych.
                      Wybrane zagadnienia języka SQL.
                    </p>
                    <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
                    <!--<i class="fa fa-clone left"></i> Dowiedz się więcej</a>-->
                  </mdb-card-body>
                </div>

              </div>

              <div class="col-lg-4 col-md-12 mb-4">

                <div class="card-item">
                  <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
                    <img src="/assets/home_tech/5.jpg" class="img-fluid"
                         alt="Sample project image">
                    <a>
                      <div class="mask rgba-blue-strong flex-center">
                        <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                      </div>
                    </a>
                  </div>

                  <mdb-card-body class="mt-3">
                    <h4>
                      <strong>Sieci komputerowe</strong>
                    </h4>
                    <div class="dev-icon-list">
                      <i class="devicon-sourcetree-plain"></i>
                    </div>
                    <p class="text">Podstawy transmisji, topologie sieci, podstawowe parametry, adresacja. Model
                      warstwowy ISO/OSI i TCP/IP. Sieci WLAN. Protokoły drzewa rozpinającego. Protokoły routingu. Media
                      transmisyjne w sieciach komputerowych. Podstawy routingu. Projektowanie sieci komputerowych.
                      Zarządzanie
                      sieciami komputerowymi.
                    </p>
                    <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
                    <!--<i class="fa fa-clone left"></i> Dowiedz się więcej</a>-->
                  </mdb-card-body>
                </div>

              </div>

              <div class="col-lg-4 col-md-12 mb-4">

                <div class="card-item">
                  <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
                    <img src="/assets/home_tech/6.jpg" class="img-fluid"
                         alt="Sample project image">
                    <a>
                      <div class="mask rgba-blue-strong flex-center">
                        <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                      </div>
                    </a>
                  </div>

                  <mdb-card-body class="mt-3">
                    <h4>
                      <strong>Przedmioty obieralne</strong>
                    </h4>
                    <div class="dev-icon-list">
                      <i class="devicon-photoshop-plain"></i>
                      <i class="devicon-illustrator-plain"></i>

                    </div>
                    <p class="text">W ramach studiów podyplomowych "Technologie Internetowe" studenci w zależności od
                      swoich preferencji mogą wybrać jeden z czterech przedmiotów obieralnych:
                      Grafika komputerowa, Programowanie systemów ekspertowych, Sztuczna inteligencja, Technologie
                      programistyczne usług internetowych.
                    </p>
                    <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
                    <!--<i class="fa fa-clone left"></i> Dowiedz się więcej</a>-->
                  </mdb-card-body>
                </div>

              </div>

            </div>

          </section>

        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="view view-100vh" id="home-end">-->
  <!--<div class="full-bg-img">-->
    <!--<div class="mask flex-center rgba-yellow-slight">&lt;!&ndash;  &ndash;&gt;-->
      <!--<div class="container">-->
        <!--<div class="white-text wow" data-wow-delay="1s">-->

          <!--<h2>coś na przekierowanie na koniec</h2>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="py-5 mt-3">-->

<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-8 text-left">-->

<!--&lt;!&ndash;Grid row&ndash;&gt;-->
<!--<div class="row pb-4 feature">-->
<!--<div class="col-1 col-lg-1">-->
<!--<i class="fa fa-bank indigo-text fa-lg"></i>-->
<!--</div>-->
<!--<div class="col-11">-->
<!--<h4 class="font-weight-bold mb-4">-->
<!--<strong>Dla kogo studia?</strong>-->
<!--</h4>-->
<!--<p class="">O przyjęcie na studia podyplomowe "TECHNOLOGIE INTERNETOWE" mogą ubiegać się wszystkie osoby-->
<!--posiadające dyplom licencjata, inżyniera lub magistra, zainteresowane poszerzeniem swojej wiedzy o elementy-->
<!--informatyki z dziedziny nowoczesnych technologii internetowych.</p>-->

<!--<p>W szczególności studia "Technologie Internetowe" adresowane są do:</p>-->
<!--<ul>-->
<!--<li>osób projektujących, programujących i wdrażających rozwiązania internetowe i intranetowe,</li>-->
<!--<li>administratorów sieci komputerowych i osób zarządzających witrynami sieci Web, a także bazami danych,-->
<!--</li>-->
<!--<li>pracowników działów informatycznych podmiotów gospodarczych, urzędów administracji samorządowej i-->
<!--rządowej,-->
<!--</li>-->
<!--<li>nauczycieli informatyki pragnących podnieść swoje kwalifikacje do nauczania przedmiotów z zakresu-->
<!--tematyki studiów,-->
<!--</li>-->
<!--<li>absolwentów wyższych uczelni o kierunkach nieinformatycznych zainteresowanych tematyką studiów,</li>-->
<!--<li>a także wszystkich pasjonatów programowania usług sieciowych, tworzenia witryn responsywnych i-->
<!--programowania-->
<!--urządzeń mobilnych.-->
<!--</li>-->

<!--</ul>-->


<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;Grid row&ndash;&gt;-->

<!--&lt;!&ndash;Grid row&ndash;&gt;-->
<!--<div class="row pb-4 feature">-->
<!--<div class="col-1 col-lg-1">-->
<!--<i class="fa fa-money purple-text fa-lg"></i>-->
<!--</div>-->
<!--<div class="col-11">-->
<!--<h4 class="font-weight-bold mb-4">-->
<!--<strong>Nasze atuty</strong>-->
<!--</h4>-->

<!--<ul>-->
<!--<li>Wysoko wykwalifikowana kadra naukowo–dydaktyczna</li>-->
<!--<li>Atrakcyjny program studiów</li>-->
<!--<li>Nowoczesna baza laboratoryjna</li>-->
<!--<li>Specjalistyczne zbiory biblioteczne</li>-->
<!--<li>Dostęp do światowych baz naukowych</li>-->
<!--<li>Dogodne warunki płatności</li>-->
<!--<li>Kompetentna obsługa administracyjna</li>-->
<!--</ul>-->

<!--<blockquote class="blockquote">-->
<!--<p class="mb-0">"Teorię przekładamy na praktyczne przykłady łatwe do zrozumienia i gotowe do wdrożenia"</p>-->
<!--</blockquote>-->


<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;Grid row&ndash;&gt;-->
<!--<div class="row pb-4 feature">-->
<!--<div class="col-1 col-lg-1">-->
<!--<i class="fa fa-desktop deep-purple-text fa-lg"></i>-->
<!--</div>-->
<!--<div class="col-11">-->
<!--<h4 class="font-weight-bold mb-4">-->
<!--<strong>Dlaczego warto studiować?</strong>-->
<!--</h4>-->
<!--<p class="">Rozwój nowoczesnych, obecnych i przyszłych technologii w wielu obszarach, takich jak np.:</p>-->
<!--<ul>-->
<!--<li>Internet Rzeczy (Internet of Things)</li>-->
<!--<li>Obliczenia w chmurze (Cloud computing)</li>-->
<!--<li>Urządzenia mobilne (Mobile devices)</li>-->
<!--<li>Urządzenia wbudowane (Embedded devices)</li>-->
<!--<li>Usługi sieciowe (Web services)</li>-->
<!--<li>Aplikacje SPA (Single Page Applications) i PWA (Progressive Web Applications)</li>-->
<!--<li>Semantyczna sieć Web (Semantic Web)</li>-->
<!--</ul>-->

<!--<p>wymaga znajomości nowoczesnych języków programowania, w tym języka Java.</p>-->

<!--&lt;!&ndash;<blockquote class="blockquote">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="mb-0">"Programuj z nami ... swoją przyszłość!"</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p class="">Kierownik studiów podyplomowych "Technologie Internetowe"<br/>&ndash;&gt;-->
<!--&lt;!&ndash;<b>dr hab. inż. Jan PROKOP, prof. PRz</b></p>&ndash;&gt;-->
<!--&lt;!&ndash;</blockquote>&ndash;&gt;-->


<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;Grid row&ndash;&gt;-->


<!--</div>-->

<!--<div class="col-md-4">-->

<!--&lt;!&ndash; Card Light &ndash;&gt;-->
<!--<div class="card">-->

<!--&lt;!&ndash; Card content &ndash;&gt;-->
<!--<div class="card-body">-->

<!--&lt;!&ndash; Social shares button &ndash;&gt;-->
<!--&lt;!&ndash;<a class="activator waves-effect waves-light mr-4"><i class="fa fa-share-alt"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash; Title &ndash;&gt;-->
<!--<h5 class="card-title">Aktualności</h5>-->
<!--<h6>Rok akademicki 2018/19, edycja XIII</h6>-->
<!--<hr>-->
<!--&lt;!&ndash; Text &ndash;&gt;-->
<!--<p class="card-text text-left">-->
<!--Status rekrutacji: zakończona!<br/>-->
<!--Termin zgłoszeń: do 30 września 2018!<br/>-->
<!--Rozpoczęcie zajęć: październik 2018<br/>-->
<!--Limit miejsc: 35 (kolejność zgłoszeń), minimalna liczba osób 25-->
<!--</p>-->
<!--&lt;!&ndash; Link &ndash;&gt;-->
<!--<a href="#!" class="black-text d-flex justify-content-end"><p>Dowiedz się więcej <i class="fa fa-angle-double-right"></i></p></a>-->

<!--</div>-->

<!--</div>-->

<!--<br/>-->

<!--<div class="card">-->

<!--&lt;!&ndash; Card content &ndash;&gt;-->
<!--<div class="card-body ">-->

<!--&lt;!&ndash; Social shares button &ndash;&gt;-->
<!--&lt;!&ndash;<a class="activator waves-effect waves-light mr-4"><i class="fa fa-share-alt"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash; Title &ndash;&gt;-->
<!--<h5 class="card-title">Studia podyplomowe</h5>-->
<!--<hr>-->
<!--&lt;!&ndash; Text &ndash;&gt;-->
<!--<div class="card-text text-left">-->
<!--<h6>Czas trwania studiów:</h6>-->
<!--<p>2 semestry - październik 2018 - czerwiec 2019</p>-->
<!--<h6>Liczba godzin:</h6>-->
<!--<p>301 - wykłady, laboratoria, projekty, konsultacje</p>-->
<!--<h6>Punkty ETCS:</h6>-->
<!--<p>60 (sem. I - 30, sem. II - 30)</p>-->
<!--<h6>Opłata za studia (w roku akademickim 2018/19):</h6>-->
<!--<p>2 (semestry) x 2700 PLN (za semestr) = 5400 PLN + 85 PLN opłata rekrutacyjna</p>-->
<!--</div>-->
<!--&lt;!&ndash; Link &ndash;&gt;-->
<!--&lt;!&ndash;<a href="#!" class="black-text d-flex justify-content-end"><p>Skontaktuj się z nami <i class="fa fa-comments"></i></p></a>&ndash;&gt;-->
<!--<button type="button" class="btn btn-primary btn-md text-center"><i class="fa fa-briefcase" aria-hidden="true"></i> Organizacja</button>-->

<!--</div>-->

<!--</div>-->

<!--<br/>-->

<!--&lt;!&ndash;http://jprokop.prz.edu.pl/pic/jp.jpg&ndash;&gt;-->
<!--&lt;!&ndash; Card &ndash;&gt;-->
<!--<div class="card testimonial-card">-->

<!--&lt;!&ndash; Background color &ndash;&gt;-->
<!--<div class="card-up indigo lighten-1"></div>-->

<!--&lt;!&ndash; Avatar &ndash;&gt;-->
<!--<div class="avatar mx-auto white">-->
<!--<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle" alt="woman avatar">-->
<!--</div>-->

<!--&lt;!&ndash; Content &ndash;&gt;-->
<!--<div class="card-body">-->
<!--&lt;!&ndash; Name &ndash;&gt;-->
<!--<h4 class="card-title">Jan Prokop</h4>-->
<!--<hr>-->
<!--&lt;!&ndash; Quotation &ndash;&gt;-->
<!--<p><i class="fa fa-quote-left"></i> "Programuj z nami ... swoją przyszłość!"</p>-->
<!--<p class="font-small">Kierownik studiów podyplomowych "Technologie Internetowe"<br/>-->
<!--<span class="font-weight-bold">dr hab. inż. Jan PROKOP, prof. PRz</span></p>-->
<!--</div>-->

<!--</div>-->
<!--&lt;!&ndash; Card &ndash;&gt;-->

<!--<br/>-->

<!--<div class="card">-->

<!--&lt;!&ndash; Card content &ndash;&gt;-->
<!--<div class="card-body">-->

<!--&lt;!&ndash; Social shares button &ndash;&gt;-->
<!--&lt;!&ndash;<a class="activator waves-effect waves-light mr-4"><i class="fa fa-share-alt"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash; Title &ndash;&gt;-->
<!--<h5 class="card-title">Pytania</h5>-->
<!--<hr>-->
<!--&lt;!&ndash; Text &ndash;&gt;-->
<!--<p class="card-text">Rekrutacja, zasady przyjęć: dwe@prz.edu.pl<br/>-->
<!--Plan studiów, programy przedmiotów: jprokop@prz.edu.pl</p>-->
<!--<p>Masz pytania?</p>-->
<!--&lt;!&ndash; Link &ndash;&gt;-->
<!--&lt;!&ndash;<a href="#!" class="black-text d-flex justify-content-end"><p>Skontaktuj się z nami <i class="fa fa-comments"></i></p></a>&ndash;&gt;-->
<!--<button type="button" class="btn btn-primary btn-md"><i class="fa fa-comments"></i> Skontaktuj się z nami</button>-->

<!--</div>-->

<!--</div>-->
<!--&lt;!&ndash; Card Light &ndash;&gt;-->

<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--&lt;!&ndash;Projects section v.1&ndash;&gt;-->
<!--<section>-->

<!--&lt;!&ndash;Section heading&ndash;&gt;-->
<!--<h2 class="text-center h1 py-5">-->
<!--<strong>Poznaj języki i technologie w ramach przedmiotów</strong>-->
<!--</h2>-->

<!--&lt;!&ndash;Section description&ndash;&gt;-->
<!--&lt;!&ndash;<p class="text pb-5 text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat&ndash;&gt;-->
<!--&lt;!&ndash;cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>&ndash;&gt;-->

<!--&lt;!&ndash;Grid row&ndash;&gt;-->
<!--<div class="row text-center">-->

<!--&lt;!&ndash;Grid column&ndash;&gt;-->
<!--<div class="col-lg-4 col-md-12 mb-4">-->

<!--<div class="card-item">-->

<!--<div class="view overlay zoom rounded z-depth-1 waves-light" mdbWavesEffect>-->
<!--<img src="/assets/home_tech/1.jpg" class="img-fluid"-->
<!--alt="Sample project image">-->
<!--<a>-->
<!--<div class="mask rgba-blue-strong flex-center">-->
<!--<p class="text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->

<!--<mdb-card-body class="mt-3">-->
<!--<h4>-->
<!--<strong>Programowanie obiektowe</strong>-->
<!--</h4>-->
<!--<div class="dev-icon-list">-->
<!--<i class="devicon-c-plain"></i>-->
<!--<i class="devicon-cplusplus-plain"></i>-->
<!--<i class="devicon-csharp-plain"></i>-->
<!--</div>-->
<!--<p class="text">Zasady programowania obiektowego, klasy i obiekty. Dziedziczenie i polimorfizm.-->
<!--Wykorzystanie dynamicznej alokacji pamięci. Zintegrowane środowiska programowe języka C++. Proces-->
<!--programowania. Wybór optymalnego rozmiaru modelu programu. Niezawodność oprogramowania.-->
<!--</p>-->
<!--&lt;!&ndash;<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-arrow-right left"></i> Dowiedz się więcej</a>&ndash;&gt;-->
<!--</mdb-card-body>-->
<!--</div>-->


<!--</div>-->
<!--&lt;!&ndash;Grid column&ndash;&gt;-->

<!--&lt;!&ndash;Grid column&ndash;&gt;-->
<!--<div class="col-lg-4 col-md-6 mb-4">-->

<!--<div class="card-item">-->
<!--&lt;!&ndash;Featured image&ndash;&gt;-->
<!--<div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>-->
<!--<img src="/assets/home_tech/2.jpg" class="img-fluid"-->
<!--alt="Sample project image">-->
<!--<a>-->
<!--<div class="mask rgba-blue-strong flex-center">-->
<!--<p class="text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->

<!--&lt;!&ndash;Excerpt&ndash;&gt;-->
<!--<mdb-card-body class="mt-3">-->
<!--<h4>-->
<!--<strong>Technologie sieci Web</strong>-->
<!--</h4>-->
<!--<div class="dev-icon-list">-->
<!--<i class="devicon-html5-plain"></i>-->
<!--<i class="devicon-css3-plain"></i>-->
<!--<i class="devicon-javascript-plain"></i>-->
<!--<i class="devicon-php-plain"></i>-->
<!--</div>-->
<!--<p class="text">Projektowanie witryn responsywnych (RWD), język HTML5 z CSS3. Język JavaScript,-->
<!--obiektowy model dokumentu (DOM) języków HTML i XML. Technologia AJAX. Język PHP, OOP, aplikacje MVC.-->
<!--Aplikacje SPA i PWA. Web Services (WS), SOAP WS, RESTful WS. Semantic Web, metadane, ontologie, logika,-->
<!--agenci.-->
<!--</p>-->
<!--&lt;!&ndash;<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-clone left"></i> Dowiedz się więcej</a>&ndash;&gt;-->
<!--</mdb-card-body>-->
<!--</div>-->


<!--</div>-->
<!--&lt;!&ndash;Grid column&ndash;&gt;-->

<!--&lt;!&ndash;Grid column&ndash;&gt;-->
<!--<div class="col-lg-4 col-md-6 mb-4">-->

<!--<div class="card-item">-->
<!--&lt;!&ndash;Featured image&ndash;&gt;-->
<!--<div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>-->
<!--<img src="/assets/home_tech/3.jpg" class="img-fluid"-->
<!--alt="Sample project image">-->
<!--<a>-->
<!--<div class="mask rgba-blue-strong flex-center">-->
<!--<p class="text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->

<!--&lt;!&ndash;Excerpt&ndash;&gt;-->
<!--<mdb-card-body class="mt-3">-->
<!--<h4>-->
<!--<strong>Programowanie w języku Java</strong>-->
<!--</h4>-->
<!--<div class="dev-icon-list">-->
<!--<i class="devicon-java-plain"></i>-->
<!--</div>-->
<!--<p class="text">Platformy Java SE, EE, ME. Programowanie aplikacji z GUI (AWT, Swing, JavaFX).-->
<!--Programowanie serwletów, obsługa baz danych (JDBC, JPA), przetwarzanie dokumentów JSON i XML (SAX, Stax,-->
<!--DOM), JAXB. Technologia JavaBeans, EJB, JSF. Java ME (biblioteka LWUIT). Programowanie urządzeń-->
<!--mobilnych-->
<!--z systemem ANDROID.-->
<!--</p>-->
<!--&lt;!&ndash;<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-clone left"></i> Dowiedz się więcej</a>&ndash;&gt;-->
<!--</mdb-card-body>-->
<!--</div>-->


<!--</div>-->
<!--&lt;!&ndash;Grid column&ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash;Grid row&ndash;&gt;-->

<!--<div class="row text-center">-->

<!--&lt;!&ndash;Grid column&ndash;&gt;-->
<!--<div class="col-lg-4 col-md-12 mb-4">-->

<!--<div class="card-item">-->
<!--<div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>-->
<!--<img src="/assets/home_tech/4.jpg" class="img-fluid"-->
<!--alt="Sample project image">-->
<!--<a>-->
<!--<div class="mask rgba-blue-strong flex-center">-->
<!--<p class="text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->

<!--<mdb-card-body class="mt-3">-->
<!--<h4>-->
<!--<strong>Bazy danych</strong>-->
<!--</h4>-->
<!--<div class="dev-icon-list">-->
<!--<i class="devicon-mysql-plain"></i>-->
<!--<i class="devicon-mongodb-plain"></i>-->
<!--<i class="devicon-postgresql-plain"></i>-->
<!--</div>-->
<!--<p class="text">Pojęcie i struktura relacji, algebra relacji. Języki baz danych. Metodyka-->
<!--projektowania relacyjnej bazy danych. Budowa modeli konceptualnych za pomocą diagramów związków encji-->
<!--(ERD). Normalizacja modeli. Notacja UML dla modeli danych. Obiektowo-relacyjne i obiektowe bazy danych.-->
<!--Wybrane zagadnienia języka SQL.-->
<!--</p>-->
<!--&lt;!&ndash;<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-clone left"></i> Dowiedz się więcej</a>&ndash;&gt;-->
<!--</mdb-card-body>-->
<!--</div>-->

<!--</div>-->

<!--<div class="col-lg-4 col-md-12 mb-4">-->

<!--<div class="card-item">-->
<!--<div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>-->
<!--<img src="/assets/home_tech/5.jpg" class="img-fluid"-->
<!--alt="Sample project image">-->
<!--<a>-->
<!--<div class="mask rgba-blue-strong flex-center">-->
<!--<p class="text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->

<!--<mdb-card-body class="mt-3">-->
<!--<h4>-->
<!--<strong>Sieci komputerowe</strong>-->
<!--</h4>-->
<!--<div class="dev-icon-list">-->
<!--<i class="devicon-sourcetree-plain"></i>-->
<!--</div>-->
<!--<p class="text">Podstawy transmisji, topologie sieci, podstawowe parametry, adresacja. Model-->
<!--warstwowy ISO/OSI i TCP/IP. Sieci WLAN. Protokoły drzewa rozpinającego. Protokoły routingu. Media-->
<!--transmisyjne w sieciach komputerowych. Podstawy routingu. Projektowanie sieci komputerowych. Zarządzanie-->
<!--sieciami komputerowymi.-->
<!--</p>-->
<!--&lt;!&ndash;<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-clone left"></i> Dowiedz się więcej</a>&ndash;&gt;-->
<!--</mdb-card-body>-->
<!--</div>-->

<!--</div>-->

<!--<div class="col-lg-4 col-md-12 mb-4">-->

<!--<div class="card-item">-->
<!--<div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>-->
<!--<img src="/assets/home_tech/6.jpg" class="img-fluid"-->
<!--alt="Sample project image">-->
<!--<a>-->
<!--<div class="mask rgba-blue-strong flex-center">-->
<!--<p class="text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->

<!--<mdb-card-body class="mt-3">-->
<!--<h4>-->
<!--<strong>Przedmioty obieralne</strong>-->
<!--</h4>-->
<!--<div class="dev-icon-list">-->
<!--<i class="devicon-photoshop-plain"></i>-->
<!--<i class="devicon-illustrator-plain"></i>-->

<!--</div>-->
<!--<p class="text">W ramach studiów podyplomowych "Technologie Internetowe" studenci w zależności od-->
<!--swoich preferencji mogą wybrać jeden z czterech przedmiotów obieralnych:-->
<!--Grafika komputerowa, Programowanie systemów ekspertowych, Sztuczna inteligencja, Technologie-->
<!--programistyczne usług internetowych.-->
<!--</p>-->
<!--&lt;!&ndash;<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-clone left"></i> Dowiedz się więcej</a>&ndash;&gt;-->
<!--</mdb-card-body>-->
<!--</div>-->

<!--</div>-->

<!--</div>-->

<!--</section>-->
<!--&lt;!&ndash;/Projects section v.1&ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
