<div class="view view-100vh" id="home-1">
  <div class="full-bg-img">
    <div class="mask flex-center pattern-2"><!--  pattern-5 -->
      <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0"><!-- 0.3s -->

          <div class="icon-slider" [ngClass]="{'animateLeftRight': startedHome1Animation}">
            <i class="bounce" [class]="activeIcon"></i>
          </div>

          <h2>Zdobądź wiedzę pożądaną na rynku pracy!</h2>

          <h5>Najnowsze technologie. Praktyczna wiedza. Nieograniczone możliwości.</h5>
          <br />
          <button mdbBtn type="button" color="white" [ngx-scroll-to]="'#home-2'" mdbWavesEffect>
            <i class="fa fa-angle-double-down" aria-hidden="true"></i> Dowiedz się więcej
          </button>
          <button mdbBtn type="button" color="white" outline="true" [routerLink]="['/rekrutacja']" mdbWavesEffect>
            <i class="fa fa-briefcase" aria-hidden="true"></i> Rekrutacja
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="view view-100vh-longer" id="home-2">
  <!-- view-100vh -->
  <div class="full-bg-img">
    <div class="flex-center mask-longer">
      <!--  -->
      <div class="container">
        <div class="white-text wow" data-wow-delay="1s">

          <h2 class="font-weight-bold">
            <strong>Dlaczego warto studiować?</strong>
          </h2>
          <h5 class="py-2 mb-4">Rozwój nowoczesnych, obecnych i przyszłych technologii w wielu obszarach, takich jak
            np.:</h5>
          <!--<ul class="text-left">-->
          <!--<li>Internet Rzeczy (Internet of Things)</li>-->
          <!--<li>Obliczenia w chmurze (Cloud computing)</li>-->
          <!--<li>Urządzenia mobilne (Mobile devices)</li>-->
          <!--<li>Urządzenia wbudowane (Embedded devices)</li>-->
          <!--<li>Usługi sieciowe (Web services)</li>-->
          <!--<li>Aplikacje SPA (Single Page Applications) i PWA (Progressive Web Applications)</li>-->
          <!--<li>Semantyczna sieć Web (Semantic Web)</li>-->
          <!--</ul>-->

          <!--<p>wymaga znajomości nowoczesnych języków programowania, w tym języka Java.</p>-->

          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="card card-image mb-4 card1">
                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Internet Rzeczy</h3>
                    <h5 class="eng-text">Internet of Things</h5>

                  </div>
                </div>
              </div>

            </div><!-- end card -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.3s">
              <div class="card card-image mb-4 card2">

                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Obliczenia w chmurze</h3>
                    <h5 class="eng-text">Cloud computing</h5>

                  </div>
                </div>

              </div><!-- end card -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.6s">
              <div class="card card-image mb-4 card3">

                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Urządzenia mobilne</h3>
                    <h5 class="eng-text">Mobile devices</h5>

                  </div>
                </div>

              </div><!-- end card -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.3s">
              <div class="card card-image mb-4 card4">

                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Urządzenia wbudowane</h3>
                    <h5 class="eng-text">Embedded devices</h5>

                  </div>
                </div>

              </div><!-- end card -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.6s">
              <div class="card card-image mb-4 card5">

                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Usługi sieciowe</h3>
                    <h5 class="eng-text">Web services</h5>

                  </div>
                </div>

              </div><!-- end card -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.9s">
              <div class="card card-image mb-4 card6">

                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Aplikacje SPA</h3>
                    <h5 class="eng-text">Single Page Applications</h5>

                  </div>
                </div>

              </div><!-- end card -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.6s">
              <div class="card card-image mb-4 card7">

                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Aplikacje PWA</h3>
                    <h5 class="eng-text">Progressive Web Applications</h5>

                  </div>
                </div>

              </div><!-- end card -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.9s">
              <div class="card card-image mb-4 card8">

                <div class="text-white text-center d-flex flex-center align-items-center rgba-blue-light py-5 px-4">
                  <div>

                    <h3 class="card-title pt-2">Semantyczna sieć Web</h3>
                    <h5 class="eng-text">Semantic Web</h5>

                  </div>
                </div>

              </div><!-- end card -->
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="view view-100vh" id="home-3">
  <div class="full-bg-img">
    <div class="mask flex-center rgba-blue-grey-strong">
      <!-- rgba-orange-light -->
      <div class="container">
        <div class="white-text wow fadeIn" data-wow-delay="0.6s">

          <h2 class="font-weight-bold mb-4">
            <strong>Dla kogo studia?</strong>
          </h2>
          <p class="">O przyjęcie na studia podyplomowe "Technologie Internetowe" mogą ubiegać się wszystkie osoby
            posiadające dyplom licencjata, inżyniera lub magistra, zainteresowane poszerzeniem swojej wiedzy o elementy
            informatyki z dziedziny nowoczesnych technologii internetowych. W szczególności studia "Technologie
            Internetowe" adresowane są do:</p>

          <ul>
            <!--Carousel Wrapper-->
            <mdb-carousel [isControls]="false" [animation]="'slide'" [interval]="3000">
              <!--First slide-->
              <mdb-carousel-item>
                <li>osób projektujących, programujących i wdrażających rozwiązania internetowe i intranetowe,</li>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <li>administratorów sieci komputerowych i osób zarządzających witrynami sieci Web, a także bazami
                  danych</li>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <li>pracowników działów informatycznych podmiotów gospodarczych, urzędów administracji samorządowej i
                  rządowej</li>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <li>nauczycieli informatyki pragnących podnieść swoje kwalifikacje do nauczania przedmiotów z zakresu
                  tematyki studiów</li>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <li>absolwentów wyższych uczelni o kierunkach nieinformatycznych zainteresowanych tematyką studiów,</li>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <li>a także wszystkich pasjonatów programowania usług sieciowych, tworzenia witryn responsywnych i
                  programowania urządzeń mobilnych</li>
              </mdb-carousel-item>

            </mdb-carousel>
            <!--/.Carousel Wrapper-->
            <!--<li>osób projektujących, programujących i wdrażających rozwiązania internetowe i intranetowe</li>-->
            <!--<li>administratorów sieci komputerowych i osób zarządzających witrynami sieci Web, a także bazami danych</li>-->
            <!--<li>pracowników działów informatycznych podmiotów gospodarczych, urzędów administracji samorządowej i rządowej</li>-->
            <!--<li>nauczycieli informatyki pragnących podnieść swoje kwalifikacje do nauczania przedmiotów z zakresu tematyki studiów</li>-->
            <!--<li>absolwentów wyższych uczelni o kierunkach nieinformatycznych zainteresowanych tematyką studiów,</li>-->
            <!--<li>a także wszystkich pasjonatów programowania usług sieciowych, tworzenia witryn responsywnych i programowania urządzeń mobilnych</li>-->

          </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="view view-100vh-longer" id="home-4">
  <div class="full-bg-img">
    <div class="mask-longer flex-center rgba-indigo-strong">
      <!--  -->
      <div class="container">
        <div class="white-text wow" data-wow-delay="1s">

          <h2 class="font-weight-bold mb-4">
            <strong>Nasze atuty</strong>
          </h2>

          <ul>
            <li class="wow fadeInRight" data-wow-delay="0s">
              <i class="fas fa-university" aria-hidden="true"></i> Wysoko wykwalifikowana kadra naukowo–dydaktyczna
            </li>
            <li class="wow fadeInRight" data-wow-delay="0.1s">
              <i class="fas fa-star" aria-hidden="true"></i> Atrakcyjny program studiów
            </li>
            <li class="wow fadeInRight" data-wow-delay="0.2s">
              <i class="fas fa-desktop" aria-hidden="true"></i> Nowoczesna baza laboratoryjna
            </li>
            <li class="wow fadeInRight" data-wow-delay="0.3s">
              <i class="fas fa-book" aria-hidden="true"></i> Specjalistyczne zbiory biblioteczne
            </li>
            <li class="wow fadeInRight" data-wow-delay="0.4s">
              <i class="fas fa-database" aria-hidden="true"></i> Dostęp do światowych baz naukowych
            </li>
            <li class="wow fadeInRight" data-wow-delay="0.5s">
              <i class="fas fa-dollar-sign"></i> Dogodne warunki płatności
            </li>
            <li class="wow fadeInRight" data-wow-delay="0.6s">
              <i class="fas fa-user-tie"></i> Kompetentna obsługa administracyjna
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="view-auto" id="home-technology">
  <div class="full-bg-img">
    <div class="mask flex-center">
      <!-- rgba-blue-strong -->
      <div class="container">
        <div class="text text-center wow" data-wow-delay="1s">

          <section>

            <!--Section heading-->
            <h2 class="text-center py-5">
              <strong>Poznaj języki i technologie w ramach przedmiotów</strong>
            </h2>

            <div class="row text-center">

              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4 wow fadeInUp" data-wow-delay="0.5s">

                <div class="card-item">

                  <div class="view overlay rounded z-depth-1 waves-light" routerLink="/programy/programowanie-obiektowe"
                    mdbWavesEffect>
                    <img src="/assets/home_tech/1.jpg" class="img-fluid" alt="Sample project image">
                    <a>
                      <div class="mask rgba-blue-strong flex-center">
                        <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                      </div>
                    </a>
                  </div>

                  <mdb-card-body class="mt-3">
                    <h4>
                      <strong>Programowanie obiektowe</strong>
                    </h4>
                    <div class="dev-icon-list">
                      <i class="devicon-c-plain"></i>
                      <i class="devicon-cplusplus-plain"></i>
                      <i class="devicon-csharp-plain"></i>
                    </div>
                    <p class="text">Zasady programowania obiektowego, klasy i obiekty. Dziedziczenie i polimorfizm.
                      Wykorzystanie dynamicznej alokacji pamięci. Zintegrowane środowiska programowe języka C++. Proces
                      programowania. Wybór optymalnego rozmiaru modelu programu. Niezawodność oprogramowania.
                    </p>
                    <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
                    <!--<i class="fa fa-arrow-right left"></i> Dowiedz się więcej</a>-->
                  </mdb-card-body>
                </div>


              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4 wow fadeInUp" data-wow-delay="0.6s">

                <div class="card-item">
                  <!--Featured image-->
                  <div class="view overlay rounded z-depth-1  waves-light" routerLink="/programy/technologie-sieci-web"
                    mdbWavesEffect>
                    <img src="/assets/home_tech/2.jpg" class="img-fluid" alt="Sample project image">
                    <a>
                      <div class="mask rgba-blue-strong flex-center">
                        <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                      </div>
                    </a>
                  </div>

                  <!--Excerpt-->
                  <mdb-card-body class="mt-3">
                    <h4>
                      <strong>Technologie sieci Web</strong>
                    </h4>
                    <div class="dev-icon-list">
                      <i class="devicon-html5-plain"></i>
                      <i class="devicon-css3-plain"></i>
                      <i class="devicon-javascript-plain"></i>
                      <i class="devicon-php-plain"></i>
                    </div>
                    <p class="text">Projektowanie witryn responsywnych (RWD), język HTML5 z CSS3. Język JavaScript,
                      obiektowy model dokumentu (DOM) języków HTML i XML. Technologia AJAX. Język PHP, OOP, aplikacje
                      MVC.
                      Aplikacje SPA i PWA. Web Services (WS), SOAP WS, RESTful WS. Semantic Web, metadane, ontologie,
                      logika,
                      agenci.
                    </p>
                    <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
                    <!--<i class="fa fa-clone left"></i> Dowiedz się więcej</a>-->
                  </mdb-card-body>
                </div>


              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4 wow fadeInUp" data-wow-delay="0.7s">

                <div class="card-item">
                  <!--Featured image-->
                  <div class="view overlay rounded z-depth-1  waves-light" routerLink="/programy/programowanie-w-jezyku-java"
                    mdbWavesEffect>
                    <img src="/assets/home_tech/3.jpg" class="img-fluid" alt="Sample project image">
                    <a>
                      <div class="mask rgba-blue-strong flex-center">
                        <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                      </div>
                    </a>
                  </div>

                  <!--Excerpt-->
                  <mdb-card-body class="mt-3">
                    <h4>
                      <strong>Programowanie w języku Java</strong>
                    </h4>
                    <div class="dev-icon-list">
                      <i class="devicon-java-plain"></i>
                    </div>
                    <p class="text">Platformy Java SE, EE, ME. Programowanie aplikacji z GUI (AWT, Swing, JavaFX).
                      Programowanie serwletów, obsługa baz danych (JDBC, JPA), przetwarzanie dokumentów JSON i XML
                      (SAX,
                      Stax,
                      DOM), JAXB. Technologia JavaBeans, EJB, JSF. Java ME (biblioteka LWUIT). Programowanie urządzeń
                      mobilnych
                      z systemem ANDROID.
                    </p>
                    <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
                    <!--<i class="fa fa-clone left"></i> Dowiedz się więcej</a>-->
                  </mdb-card-body>
                </div>


              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            <div class="row white-text-center">

              <!--Grid column-->
              <div class="col-lg-4 col-md-12 mb-4 wow fadeInUp" data-wow-delay="0.3s">

                <div class="card-item">
                  <div class="view overlay rounded z-depth-1 waves-light" routerLink="/programy/projektowanie-baz-danych"
                    mdbWavesEffect>
                    <img src="/assets/home_tech/4.jpg" class="img-fluid" alt="Sample project image">
                    <a>
                      <div class="mask rgba-blue-strong flex-center">
                        <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                      </div>
                    </a>
                  </div>

                  <mdb-card-body class="mt-3">
                    <h4>
                      <strong>Bazy danych</strong>
                    </h4>
                    <div class="dev-icon-list">
                      <i class="devicon-mysql-plain"></i>
                      <i class="devicon-mongodb-plain"></i>
                      <i class="devicon-postgresql-plain"></i>
                    </div>
                    <p class="text">Pojęcie i struktura relacji, algebra relacji. Języki baz danych. Metodyka
                      projektowania relacyjnej bazy danych. Budowa modeli konceptualnych za pomocą diagramów związków
                      encji
                      (ERD). Normalizacja modeli. Notacja UML dla modeli danych. Obiektowo-relacyjne i obiektowe bazy
                      danych.
                      Wybrane zagadnienia języka SQL.
                    </p>
                    <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
                    <!--<i class="fa fa-clone left"></i> Dowiedz się więcej</a>-->
                  </mdb-card-body>
                </div>

              </div>

              <div class="col-lg-4 col-md-12 mb-4 wow fadeInUp" data-wow-delay="0.4s">

                <div class="card-item">
                  <div class="view overlay rounded z-depth-1 waves-light" routerLink="/programy/sieci-komputerowe"
                    mdbWavesEffect>
                    <img src="/assets/home_tech/5.jpg" class="img-fluid" alt="Sample project image">
                    <a>
                      <div class="mask rgba-blue-strong flex-center">
                        <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                      </div>
                    </a>
                  </div>

                  <mdb-card-body class="mt-3">
                    <h4>
                      <strong>Sieci komputerowe</strong>
                    </h4>
                    <div class="dev-icon-list">
                      <i class="devicon-sourcetree-plain"></i>
                    </div>
                    <p class="text">Podstawy transmisji, topologie sieci, podstawowe parametry, adresacja. Model
                      warstwowy ISO/OSI i TCP/IP. Sieci WLAN. Protokoły drzewa rozpinającego. Protokoły routingu. Media
                      transmisyjne w sieciach komputerowych. Podstawy routingu. Projektowanie sieci komputerowych.
                      Zarządzanie
                      sieciami komputerowymi.
                    </p>
                    <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
                    <!--<i class="fa fa-clone left"></i> Dowiedz się więcej</a>-->
                  </mdb-card-body>
                </div>

              </div>

              <div class="col-lg-4 col-md-12 mb-4 wow fadeInUp" data-wow-delay="0.5s">

                <div class="card-item">
                  <div class="view overlay rounded z-depth-1 waves-light" routerLink="/programy/przedmiot-obieralny"
                    mdbWavesEffect>
                    <img src="/assets/home_tech/6.jpg" class="img-fluid" alt="Sample project image">
                    <a>
                      <div class="mask rgba-blue-strong flex-center">
                        <p class="white-text"><i class="fa fa-arrow-right left"></i> Dowiedz się więcej</p>
                      </div>
                    </a>
                  </div>

                  <mdb-card-body class="mt-3">
                    <h4>
                      <strong>Przedmioty obieralne</strong>
                    </h4>
                    <div class="dev-icon-list">
                      <i class="devicon-photoshop-plain"></i>
                      <i class="devicon-illustrator-plain"></i>

                    </div>
                    <p class="text">W ramach studiów podyplomowych "Technologie Internetowe" studenci w zależności od
                      swoich preferencji mogą wybrać jeden z czterech przedmiotów obieralnych:
                      Grafika komputerowa, Programowanie systemów ekspertowych, Sztuczna inteligencja, Technologie
                      programistyczne usług internetowych.
                    </p>
                    <!--<a mdbBtn color="blue" size="sm" class="waves-light" mdbWavesEffect>-->
                    <!--<i class="fa fa-clone left"></i> Dowiedz się więcej</a>-->
                  </mdb-card-body>
                </div>

              </div>

            </div>

          </section>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer-banner [type]="'banner'"></app-footer-banner>

<div id="top-news" class="animated wow fadeInDown" data-wow-delay="0.3s">
    <div class="top-news-inner">
      <div class="top-news-announcement-banner container">
        <div class="row">
          <div class="col-12 info">
            Najbliższa planowana edycja studiów podyplomowych "Technologie Internetowe" - październik 2019! 
            <a class="action" [routerLink]="['/rekrutacja']">
              <mdb-icon far icon="fa-newspaper"></mdb-icon> Sprawdź aktualności
            </a>
          </div>
          <!-- <div class="col-2 action ">
            <b><i icon="fa fa-newspaper"></i> Sprawdź aktualności</b>
          </div> -->
        </div>
      </div>
    </div>
</div>