<div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" >
        <!-- (click)="basicModal.hide()" -->
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel">Zmień nazwę</h4>
    </div>
    <div class="modal-body">
      <input placeholder="Nazwa folderu" [(ngModel)]="folderName">
    </div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"  mdbWavesEffect>Anuluj</button>
      <!-- (click)="basicModal.hide()" -->
      <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Zmień nazwę</button>
      <!-- [mat-dialog-close]="folderName" -->
    </div>
  </div>
</div>
