<div class="view view-page-header">
  <div class="full-bg-img">
    <div class="mask flex-center rgba-blue-strong">
      <div class="container">
        <div class="white-text wow fadeIn">

          <h2 class="header-page">Organizacja zajęć</h2>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5 mt-3">

  <div class="container">
    <div class="row">
      <div class="col-12">

      <!-- page content start -->

      <div class="img-content img-content-first">

        <p>Studia podyplomowe prowadzone są według zasad określonych przez Ministerstwo Nauki i Szkolnictwa Wyższego i
          trwają dwa semestry, z których każdy obejmje 7 sobotnio-niedzielnych zjazdów. Program stanowi 301 godzin
          zajęć: wykładów, laboratoriów, projektów i konsultacji. Zajęcia odbywać się będą w salach wykładowych i
          pracowniach komputerowych Wydziału Elektrotechniki i Informatyki Politechniki Rzeszowskiej i prowadzić je
          będą pracownicy naukowo-dydaktyczni tego wydziału. </p>

      </div>

      <div class="view img-100vw org-1">
        <!--  animated fadeInUp" data-wow-delay="0s" -->
        <!-- <div class="mask rgba-blue-light"></div> -->
      </div>

      <div class="img-content">

        <h2 class="h-article">Studenci w trakcie trwania studiów otrzymują</h2>

        <ul>
          <li>Pełne konta (shell-owe) w Uczelnianej Sieci Komputerowej Politechniki Rzeszowskiej (w domenie prz.edu.pl)
            z możliwością obsługi poczty elektronicznej ze strony WWW oraz możliwością realizacji własnej witryny WWW
            na swoim koncie,</li>
          <li>Materiały dydaktyczne (instrukcje, programy demonstracyjne, wybrane narzędzia do programowania) oraz
            możliwość korzystania z biblioteki Politechniki Rzeszowskiej,</li>
          <li>Praktyczną pomoc i doradztwo pracowników prowadzących zajęcia z zagadnień tematyki studiów w ramach
            konsultacji.</li>
        </ul>

        <p>W przypadku zróżnicowania wiedzy początkowej studentów w trakcie studiów zaproponowany zostanie podział na
          grupy według stopnia zaawansowania studentów. </p>

      </div>
      <!-- <h2 class="h-article">Organizacja zajęć</h2> -->

      <div class="view img-100vw org-2">
        <!-- <div class="mask rgba-blue-light"></div> -->
      </div>

      <div class="img-content">

        <div class="row left-col-icon">
          <div class="col-1 icon-left">
            <h2 class="h-article">
                <i class="fa fa-users" aria-hidden="true"></i>
            </h2>
          </div>
          <div class="col-11">
            <h2 class="h-article">Warunki uczestnictwa</h2>

            <p>Warunkami uczestnictwa w studiach podyplomowych "Technologie Internetowe" są:</p>

            <ul>
              <li>Pozytywne przejście procesu rekrutacji,</li>
              <li>Wniesienie opłaty za uczestnictwo w studiach.</li>
            </ul>

            <p>Wydział Elektrotechniki i Informatyki Politechniki Rzeszowskiej zastrzega sobie prawo uruchomiania
              studiów
              tylko w przypadku zebrania wymaganej minimalnej liczby kandydatów. </p>
          </div>
        </div>

        <!-- </div>

      <div class="view img-100vw org-2">
      </div>

      <div class="img-content"> -->
        <div class="row left-col-icon">
          <div class="col-1 icon-left">
            <h2 class="h-article">
              <i class="fa fa-mortar-board" aria-hidden="true"></i>
            </h2>
          </div>
          <div class="col-11">
            <h2 class="h-article">Warunki ukończenia studiów</h2>

            <p>Studenci w trakcie studiów są oceniani na podstawie wyników pisemnych egzaminów i zaliczeń z
              obowiązujących
              przedmiotów, wykonanych zadań i projektów. Warunkiem ukończenia studiów i uzyskania świadectwa jest:</p>

            <ul>
              <li>zaliczenie wszystkich laboratoriów oraz projektów,</li>
              <li>zdanie wszystkich egzaminów.</li>
            </ul>

            <p>Absolwenci otrzymują Świadectwo ukończenia studiów podyplomowych na kierunku "Informatyka" w zakresie
              "Technologie Internetowe" (według wzoru ustalonego przez Ministerstwo Nauki i Szkolnictwa Wyższego)
              zatwierdzone przez Rektora Politechniki Rzeszowskiej oraz Dziekana Wydziału Elektrotechniki i
              Informatyki.</p>
          </div>
        </div>

        <!-- </div>
      <div class="view img-100vw org-2">
      </div>

      <div class="img-content"> -->

        <div class="row left-col-icon left-col-icon-last">
          <div class="col-1 icon-left">
            <h2 class="h-article">
              <i class="fa fa-dollar" aria-hidden="true"></i>
            </h2>
          </div>
          <div class="col-11">

            <h2 class="h-article">Zasady odpłatności</h2>

            <p>Studia podyplomowe "Technologie Internetowe" trwają dwa semestry i są płatne. Odpłatność za uczestnictwo
              w studiach w roku akademickim 2018/2019 wynosi 5400 PLN, płatne:</p>

            <ul>
              <li>2700 PLN - za semestr I</li>
              <li>2700 PLN - za semestr II</li>
            </ul>

            <p>Opłatę za dany semestr wnosi się przed dniem rozpoczęcia semestru. Istnieje możliwość rozłożenia opłaty
              semestralnej na trzy miesięczne raty. </p>

          </div>
        </div>

      </div>
      <!-- END page content start -->

    </div>
  </div>
  </div>

</div>