<div class="program-header">

  <div class="mask flex-center rgba-blue-strong">
    <div class="container">
      <div class="white-text animated fadeIn">

        <div class="program-header-text">
          <h4>Semestr II</h4>
          <h2>Aplikacje bazodanowe</h2>
        </div>

      </div>
    </div>
  </div>

</div>

<h3>Wykład</h3>

<p>Podstawy języka SQL. Standard języka i wersja SQL*Plus firmy Oracle. Definiowanie schematu bazy. Modyfikowanie
  zawartości relacji. Zaawansowane konstrukcje do formułowania zapytań. Poziome i pionowe łączenie relacji.
  Zagnieżdżanie zapytań. Funkcje języka SQL. Perspektywy i liczniki. Obiektowe rozszerzenia języka SQL. Bazy danych i
  technologia Web. Przegląd wybranych rozwiązań. Podstawy programowania w języku PL/SQL. Szczegółowe omówienie budowy
  aplikacji internetowej z wykorzystaniem technologii PL/SQL Server Pages. </p>

<h3>Laboratorium</h3>

<p>Zarządzanie bazą danych Oracle. Programowanie w języku SQL*Plus. Poznanie wybranych technologii budowy aplikacji baz
  danych z dostępem przez Internet: PHP, ASP, język Perl i in. </p>

<h3>Projekt</h3>

<p>Projekt i implementacja aplikacji bazy danych w wybranym systemie. Proste sklepy internetowe.</p>

<h3>Technologie</h3>

<div class="dev-icon-list">
  <i class="devicon-c-plain"></i>
  <i class="devicon-cplusplus-plain"></i>
  <i class="devicon-csharp-plain"></i>
</div>