<div class="program-header">

  <div class="mask flex-center rgba-blue-strong">
    <div class="container">
      <div class="white-text animated fadeIn">

        <div class="program-header-text">
          <h4>Przedmiot obieralny</h4>
          <h2>Technologie programistyczne usług internetowych</h2>
        </div>

      </div>
    </div>
  </div>

</div>

<h3>Wykład</h3>

<ol>
  <li>Technologia serwlet XSQL i język XSQL,</li>
  <li>Przekształcanie i prezentacja dokumentów XML w technologii XSQL,</li>
  <li>Usługi sieciowe (Web Services) w technologii XSQL,</li>
  <li>Tworzenie aplikacji internetowych w środowisku .NET,</li>
  <li>Usługi sieciowe w technologii .NET,</li>
  <li>Bezpieczeństwo aplikacji internetowych,</li>
  <li>Dystrybucja i instalacja aplikacji.</li>
</ol>

<p>W ramach przedmiotu zostanie dokonany przegląd nowych technologii, które mogą znaleźć zastosowanie we współczesnych
  aplikacjach. Servlet XSQL to technologia firmy Oracle, która pozwala na proste połączenie danych zapisanych w
  formacie XML z relacyjną bazą danych. Pierwszy wykład jest wprowadzeniem do technologii. Omawia strukturę serwletu i
  język XSQL, służący do budowy stron XSQL. Na przykładach pokazuje przeprowadzanie operacji CRUD na danych w postaci
  XML. Wykład drugi poświęcony jest zagadnieniom przekształcania danych zapisanych w języku XML. Dane przesłane do
  strony XSQL z przeglądarki klienta mogą wymagać pewnych przekształceń przed wstawieniem ich do bazy danych. Podobnie,
  klientowi nie prezentujemy danych w postaci XML, tylko przekształcone do języka HTML. Przekształcanie danych odbywa
  się przy użyciu języka XSLT. W ramach przedmiotu omawiane są wybrane cechy środowiska programistycznego Visual Studio
  .NET. Na przykładzie języka C# przedstawiany jest sposób tworzenia aplikacji internetowych, wykorzystujących bazy
  danych. Kolejne wykłady poruszają zagadnienie tworzenia usług sieciowych w technologii XSQL. Usługa sieciowa to
  komponent programowy, zaprojektowany w celu wsparcia przetwarzania danych i komunikacji pomiędzy automatami
  połączonymi siecią. Omawiane jest także wsparcie dla usług sieciowych w środowisku programistycznym Visual Studio
  .NET. W ramach przedmiotu przedstawiane są wybrane aspekty bezpieczeństwa internetowych aplikacji bazodanowych.
  Podawane są sposoby unikania zagrożeń oraz odpowiednie techniki programistyczne. Na zakończenie omawiane są
  zagadnienia dystrybucji i instalacji gotowego oprogramowania za pomocą narzędzi Visual Studio .NET. </p>

<h3>Laboratorium</h3>

<ol>
  <li>Podstawowe operacje CRUD (Create, Read, Update, Delete) na danych. Konfiguracja środowiska i tworzenie
    podstawowych stron XSQL, służących do prezentacji danych z bazy danych, wstawianie, aktualizacja i usuwanie danych,</li>
  <li>Przekazywanie danych (parametrów) pomiędzy poszczególnymi stronami XSQL,</li>
  <li>Prezentacja danych XML, opracowanie arkuszy transformacji w języku XSLT służących do przekształcania danych z
    języka XML na HTML w technologii XSQL,</li>
  <li>Wprowadzanie danych do formularzy HTML, techniki stosowane podczas przesyłania danych z przeglądarki klienta do
    strony XSQL,</li>
  <li>Tworzenie aplikacji internetowych w języku C#. Przykład budowy internetowej aplikacji bazodanowej (MS SQL Server
    / MS Access) w środowisku Visual Studio .NET,</li>
  <li>Usługi Web Services w .NET , korzystanie z usług sieciowych w programach .NET oraz tworzenie własnych usług,</li>
  <li>Tworzenie wersji instalacyjnych oprogramowania, przegląd i zastosowanie narzędzi do dystrybuowania aplikacji
    dostępnych w środowisku Visual Studio .NET.</li>
</ol>

<!-- <h3>Projekt</h3>
    
    <p>Projekt i implementacja aplikacji bazy danych w wybranym systemie. Proste sklepy internetowe.</p> -->

<h3>Technologie</h3>

<div class="dev-icon-list">
  <i class="devicon-c-plain"></i>
  <i class="devicon-cplusplus-plain"></i>
  <i class="devicon-csharp-plain"></i>
</div>