<div class="program-header">

    <div class="mask flex-center rgba-blue-strong">
      <div class="container">
        <div class="white-text animated fadeIn">
  
          <div class="program-header-text">
            <h4>Przedmiot obieralny</h4>
            <h2>Sztuczna inteligencja</h2>
          </div>
  
        </div>
      </div>
    </div>
  
  </div>
  
  <h3>Wykład</h3>
  
  <ol>
    <li>Praktyczne zastosowania sztucznej inteligencji. Metody reprezentacji i przetwarzania wiedzy oraz wnioskowanie,</li>
    <li>Rozmyte systemy ekspertowe ze stałą i zmienną bazą reguł - przykłady zastosowań w robotyce i informatyce,</li>
    <li>Programowa implementacja nowoczesnych algorytmów nawigacji robota inteligentnego (robot laboratoryjny),</li>
    <li>Sieci neuronowe. Algorytmy uczenia na przykładzie rozpoznawania pisma, obrazów, diagnostyki chorób itp,</li>
    <li>Algorytm uczenia systemów ekspertowych: implementacja programowa dla robota inteligentnego,</li>
    <li>Metoda wstecznej propagacji błędów wielowarstwowych sieci neuronowych - rozpoznawanie mowy,</li>
    <li>Sieci Hopfielda i ich zastosowanie (problem poszukiwania najkorzystniejszego połączenia w sieci),</li>
    <li>Uczenie maszynowe w teorii SVM - zastosowania w diagnostyce chorób, rozpoznawaniu twarzy i in. cech.</li>
  </ol>
  
  <h3>Laboratorium</h3>
  
  <ol>
    <li>Konstrukcja i badanie prostych systemów ekspertowych (język programowania do wyboru, m.in. Matlab, octave),</li>
    <li>Implementacja programowa uczenia sieci neuronowych typu feedforward i Hopfielda - rozpoznawanie pisma,</li>
    <li>Zastosowanie algorytmów uczenia inteligentnego robota mobilnego do rozwiązywania zadań nawigacji,</li>
    <li>Wykorzystanie procedur klasyfikacji (Matlab, grafika) za pomocą SVM - przykłady rozpoznawania cech.</li>
  </ol>
  
  <!-- <h3>Projekt</h3>
    
    <p>Projekt i implementacja aplikacji bazy danych w wybranym systemie. Proste sklepy internetowe.</p> -->
  
  <h3>Technologie</h3>
  
  <div class="dev-icon-list">
    <i class="devicon-c-plain"></i>
    <i class="devicon-cplusplus-plain"></i>
    <i class="devicon-csharp-plain"></i>
  </div>