<div class="modal-header">
  <h4 class="modal-title">Tworzenie nowego folderu</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <input class="form-control" placeholder="Nazwa nowego folderu" [(ngModel)]="folderName">
</div>
<div class="modal-footer">
  <button type="button" mdbBtn class="waves-light btn btn-grey" aria-label="Close" (click)="activeModal.dismiss('Anuluj click')" mdbWavesEffect>Anuluj</button>
  <!-- (click)="basicModal.hide()" -->
  <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="onClickCreate()" mdbWavesEffect>Utwórz</button>
</div>

<!--<mat-dialog-content>-->
  <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="Folder Name" [(ngModel)]="folderName">-->
  <!--</mat-form-field>-->
<!--</mat-dialog-content>-->

<!--<mat-dialog-actions>-->
  <!--<button mat-raised-button mat-dialog-close>Cancel</button>-->
  <!--<button mat-raised-button [mat-dialog-close]="folderName" color="primary">OK</button>-->
<!--</mat-dialog-actions>-->
