p {
    text-align: justify;
}

.img-section .section-picture {
    background-size: cover;
    height: 25vh;
}
@media (max-width: 575px) {
    
}
  
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .img-section .col-sm-12 {
        padding-right: 0px !important;
        padding-left: 0px !important; 
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
    .img-section .section-picture {
        height: 100%;
    }
    .img-section-left p {
        text-align: left;
    }
    .img-section-right p {
        text-align: right;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
p {
    width: 100%;
}
.img-section {
    padding: 2em 0;
}
#o-studiach-sections .img-section:first-child {
    padding-top: 0;
}
.img-section img {
    width: 100%;
}
.img-section .section-text {
    padding: 2em 0;
    
}

.img-section-left .section-text {
    padding: 0 1.5em;
}
.img-section-right .section-text {
    padding: 0 1.5em;
}
.img-a-1 {
    background: url("https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
.img-a-2 {
    background: url("https://images.pexels.com/photos/214221/pexels-photo-214221.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
.img-a-3 {
    background: url("https://images.unsplash.com/photo-1545235617-9465d2a55698?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
    background-position: center center;
}
.img-a-4 {
    background: url("https://images.pexels.com/photos/935756/pexels-photo-935756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: 50% 50%;
}
