<div class="view view-page-header">
  <div class="full-bg-img">
    <div class="mask flex-center rgba-blue-strong"><!-- -->
      <div class="container">
        <div class="white-text wow fadeInRight">

          <h2 class="header-page">O studiach</h2>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5 mt-3">

  <div class="container">
    <div class="row">

      <p>Studia podyplomowe "Technologie Internetowe" adresowane są do wszystkich absolwentów szkół wyższych, którzy
        pragną zapoznać się z najnowocześniejszymi technologiami funkcjonującymi na bazie Internetu, w szczególności
        technologiami publikowania i programowania w sieci Web, programowaniem urządzeń mobilnych, zagadnieniami
        systemów baz danych z dostępem przez Internet oraz problematyką sieci komputerowych.</p>

        <p>O przyjęcie na studia podyplomowe mogą ubiegać się wszystkie osoby z wykształceniem wyższym, również
        nietechnicznym (posiadające dyplom licencjata, inżyniera lub magistra), zainteresowane problematyką studiów.</p>

        <p>Od słuchaczy wymagana jest umiejętność podstawowej obsługi komputera oraz znajomość podstaw programowania w
        dowolnym języku.</p>

    </div>
  </div>

</div>
