@import '~angular-bootstrap-md/scss/core/_mixins';

#footer-landing h2 {
  padding: 0.5em 0;
  font-size: 1.4rem;
}
#footer-landing {
  height: 40vh;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1524508762098-fd966ffb6ef9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-attachment: unset;
}
#univ-footer-img a img {
  // padding: 15px 10px;
  height: auto;
  width: auto;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #header-container {
    width: 100%;
  }
  .view {
    //background-position: 0 0;
    //background-size: cover;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #header-container {
    width: 540px;
  }
  .view {
    //background-position: 0 0;
    //background-size: 115%;
  }
  .mobile-only {
    display: none;
  }
  #univ-footer-img a img {
    // height: auto;
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #header-container {
    width: 720px;
  }
  #footer-landing {
    background-attachment: fixed;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #header-container {
    width: 930px;
  }
  .view {
    //background-position: 0vh -35vh;
    //-webkit-animation-name: MOVE-BG;
    //-webkit-animation-duration: 10s;
    //-webkit-animation-timing-function: ease;
    //-webkit-animation-iteration-count: initial;
  }
  #footer-landing h2 {
    font-size: 2rem !important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #header-container {
    width: 1110px;
  }
  #univ-footer-img a img {
    height: auto;
    width: auto;
  }
}

@-webkit-keyframes MOVE-BG {
  from {
    background-position: 3vh -5vh;
  }
  to {
    background-position: 0vh -35vh;
  }
}

#header-top {

}

.main-inner {
  min-height: 100vh;
  padding: 0;
}

.logo {
  position: relative;
  left: 15px;
}
.logo .logotype {
  position: absolute;
  top: -6px;
  left:0;
  font-size: 40px;
}
.logo .logotext {
  display: flex;
  position: relative;
  left: 55px;
  top: 0;
}
.logo .brand, .logo .name {
  display: inline;
}
.logo .brand {
  font-size: 0.6em;
  margin: 0;
  padding: 0;
  margin-bottom: -5px;
  text-transform: uppercase !important;
  color: rgba(255,255,255,0.8)
  // position: absolute;
  // top: 3px;
}
.logo .name {
  padding: 0;
  margin: 0;
  font-weight: bold;
}
#logo h1, #logo h4, #logo h5 {
  padding: 2px 0;
  margin: 0;
  background-color: white;
}
#logo h1 {
  //font-size: 1em;
}


footer.page-footer {
  color: #000;
}
footer.page-footer a {
  color: #000;
}
.footer-logo {

}


#user-menu {
  text-align: right;
  padding: 7px 0 7px 0;
  margin: 12px 0;
}
#user-menu button {
  border-radius: 20px;
  background-color: #2196f3 !important;
}


#footer-landing button {
  font-size: 1.25em;
  text-transform: none;
}
.contact-link {
  margin: 1em 0;
}
.contact-link a {
  color: white !important;
}
footer.page-footer .footer-copyright {
  overflow: hidden;
  background-color: rgba(255,255,255,1);
  color: rgba(0,0,0, 0.5);
}

#univ-footer-img {
}
#univ-footer-img .img {
  // display: inline;
  text-align: center;
  width: 100%;
  background-color: #2196f3;
  padding: 1.5em;
  margin-bottom: 0.5em;
}

#univ-footer-img a:hover {
  
}
#univ-footer-img img:first-child {
  padding-left: 0;
}
.university-data {
  padding: 0em 0 0 0;
}
footer h5.text-uppercase {
  padding: 5px 0;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
}
.footer-menu ul {
  padding: 0;
}
.footer-menu ul li {
  list-style: none;
}
.footer-menu ul li a {
  padding: 5px 0;
}
#footer-menu {
  padding-bottom: 20px;
}

#scroll-to-top {
  position: fixed;
  bottom: 1em;
  right: 0.5em;
  
}
#scroll-to-top a {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: #2196f3;
  color: #45cafc;
}
.panel-footer {
  border-top: 1px solid rgba(0,0,0, 0.1);
  padding-top: 1.5em;
}
