<header class="" id="header-top">

  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="true">
    <!--blue-->
    <mdb-navbar-brand>
    <a class="logo navbar-brand" routerLink="/"><strong>Technologie internetowe</strong></a>
    </mdb-navbar-brand>
    <!--<links>-->
      <!--<ul class="navbar-nav mr-auto">-->

      <!--</ul>-->
    <!--</links>-->
    <links>
      <ul class="navbar-nav ml-auto nav-flex-icons"><!-- -->
        <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/home">Strona główna <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">O studiach</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Organizacja</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Plan studiów</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Programy</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Rekrutacja</a>
        </li>
        <!--<li class="nav-item waves-light" mdbWavesEffect>-->
        <!--<a class="nav-link">FAQ</a>-->
        <!--</li>-->
        <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Kontakt</a>
        </li>
        <li class="nav-item waves-light" routerLinkActive="active" routerLink="/login" *ngIf="!authService.isLoggedIn()" mdbWavesEffect>
          <a class="nav-link"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item waves-light" routerLinkActive="active" routerLink="/panel" *ngIf="authService.isLoggedIn()" mdbWavesEffect>
          <a class="nav-link"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item waves-light" (click)="onLogout()" *ngIf="authService.isLoggedIn()" mdbWavesEffect>
          <a class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
      </ul>
    </links>
    <!--<form class="form-inline">-->
    <!--<div class="md-form mt-0">-->
    <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
    <!--</div>-->
    <!--</form>-->
  </mdb-navbar>


  <!--<div class="container-fluid">-->
    <!--<div class="row justify-content-center">-->

      <!--&lt;!&ndash;<div class="container no-gutters" >&ndash;&gt;-->

        <!--<div class="row no-gutters" id="header-container">-->

          <!--<div class="col-9">&lt;!&ndash;  mt-md-0 mt-3 &ndash;&gt;-->
            <!--<div id="logo" class="">-->
              <!--<h5 class="h5-responsive">Politechnika Rzeszowska im. Ignacego Łukasiewicza</h5>-->
              <!--<h1 class="h1-responsive">Technologie Internetowe</h1>-->
              <!--<h4 class="h4-responsive">Studia podyplomowe</h4>-->

            <!--</div>-->
          <!--</div>-->

          <!--<div class="col-3">-->
            <!--<div id="user-menu">-->

              <!--<button-->
                <!--mdbBtn-->
                <!--type="button"-->
                <!--size="md"-->
                <!--rounded="false"-->
                <!--routerLink="/login"-->
                <!--*ngIf="!authService.isLoggedIn()"-->
                <!--mdbWavesEffect>-->
                <!--<i class="fa fa-user" aria-hidden="true"></i> Zaloguj-->
              <!--</button>&lt;!&ndash; Wyloguj (Marcin Witek) fa-sign-out &ndash;&gt;-->

              <!--<button-->
                <!--mdbBtn-->
                <!--type="button"-->
                <!--size="md"-->
                <!--rounded="false"-->
                <!--(click)="onLogout()"-->
                <!--*ngIf="authService.isLoggedIn()"-->
                <!--mdbWavesEffect>-->
                <!--<i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj <span *ngIf="user">({{user.name}})</span>-->
              <!--</button>-->

              <!--<button-->
                <!--mdbBtn-->
                <!--type="button"-->
                <!--size="md"-->
                <!--rounded="false"-->
                <!--routerLink="/panel"-->
                <!--*ngIf="authService.isLoggedIn()"-->
                <!--mdbWavesEffect>-->
                <!--<i class="fa fa-user" aria-hidden="true"></i> Panel-->
              <!--</button>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->

      <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--</div>-->

  <!--</div>-->

</header>

<!--Main Layout-->
<main id="main-container">

  <router-outlet></router-outlet>

</main>
<!--Main Layout-->


<!-- Footer -->
  <footer class="page-footer font-small blue pt-5">

  <!--<div class="container text-center text-md-left">-->
    <!--<div class="row">-->
      <!--<h5 class="text-uppercase">Uczelnia</h5>-->
    <!--</div>-->
  <!--</div>-->

  <!-- Footer Links -->
  <div id="footer-menu" class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 footer-menu">

        <h5 class="text-uppercase">O studiach</h5>

        <ul class="">
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Link 1</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Link 2</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Link 3</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Link 4</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Link 5</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Link 6</a>
          </li>

        </ul>



      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 footer-menu" id="footer-middle">

        <h5 class="text-uppercase">Menu</h5>

        <ul class="">
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" routerLink="/home">Strona główna <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">O studiach</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Organizacja</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Plan studiów</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Programy</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Rekrutacja</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">FAQ</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Kontakt</a>
          </li>
        </ul>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase">Uczelnia</h5>

        <!-- Content -->
        <div id="univ-footer-img">
          <a href="https://prz.edu.pl/" target="_blank"><img src="/assets/prz_footer.png" alt="WEII" /></a>
          <a href="https://weii.prz.edu.pl/" target="_blank"><img src="/assets/weii.png" alt="WEII" /></a>
        </div>

        <div class="row">
          <div class="col">
            <p>Dziekanat Wydziału<br/>
              Elektrotechniki i Informatyki<br/>
              Budynek A, pok. 104</p>
          </div>
          <div class="col">
            <p>Tel. +48 17 865 12 89<br/>
              Fax. +48 17 854 20 88<br/>
              E-mail: <a href="mailto:dwe@prz.edu.pl">dwe@prz.edu.pl</a></p>
          </div>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Copyright © 2002 - 2018 Wydział Elektrotechniki i Informatyki, Politechnika Rzeszowska im. Ignacego Łukasiewicza</div>
  <div class="footer-copyright text-center py-3">Wszystkie prawa zastrzeżone</div>


  <!-- Copyright -->

</footer>
<!-- Footer -->
