.view {
  background: url("/assets/prz_bg75.jpg") no-repeat;
  background-color: rgba(33, 150, 243, 0.3);
  background-size: 115%;
  height: 50vh;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #header-container {
    width: 100%;
  }
  .view {
    background-position: 0 0;
    background-size: cover;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #header-container {
    width: 540px;
  }
  .view {
    background-position: 0 0;
    background-size: 115%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #header-container {
    width: 720px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #header-container {
    width: 930px;
  }
  .view {
    background-position: 0vh -35vh;
    -webkit-animation-name: MOVE-BG;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: initial;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #header-container {
    width: 1110px;
  }

}

@-webkit-keyframes MOVE-BG {
  from {
    background-position: 3vh -5vh;
  }
  to {
    background-position: 0vh -35vh;
  }
}



.navbar {
  z-index: 1;
}
#header-top {

}
#logo {
  background-image: url("/assets/prz_logo.png");
  background-position: center left; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  padding: 7px 0 7px 80px;
  margin: 12px 0;
  //background-color: coral;
}
#logo h1, #logo h4, #logo h5 {
  padding: 2px 0;
  margin: 0;
  background-color: white;
}
#logo h1 {
  //font-size: 1em;
}
#user-menu {
  text-align: right;
  padding: 7px 0 7px 0px;
  margin: 12px 0;
}
#user-menu button {
  border-radius: 20px;
  background-color: #2196f3 !important;
}
#univ-footer-img {
  padding: 10px 0 20px 0;
}
#univ-footer-img a {
  display: inline;

}
#univ-footer-img img {
  padding: 15px 10px;
  text-align: center;
}
#univ-footer-img img:first-child {
  padding-left: 0;
}
footer h5.text-uppercase {
  padding: 5px 0;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
}
.footer-menu ul {
  padding: 0;
}
.footer-menu ul li {
  list-style: none;
}
.footer-menu ul li a {
  padding: 5px 0;
}
#footer-menu {
  padding-bottom: 20px;
}
