// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #header-container {
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  #header-container {
    width: 540px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  #header-container {
    width: 720px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  #header-container {
    width: 930px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #header-container {
    width: 1110px;
  }
}

@-webkit-keyframes MOVE-BG {
  from {
    //-webkit-transform: translateX(0);
    //background-position: -50px -300px;
    //background-size: 100%;
    background-position: -100px -100px;
    //background-color: rgba(33, 150, 243, 0.7);
    //background-position: 0px 0px;
  }
  to {
    //-webkit-transform: translateX(-187%);
    //background-position: 0px 0px;
    //background-size: 115%;
    //background-position: 0px -250px;
    background-position: -250px -300px;
    //background-color: rgba(33, 150, 243, 0.3);
  }
}

.view {
  background: url("/assets/prz_bg75.jpg")no-repeat -250px -300px;
  background-color: rgba(33, 150, 243, 0.3);
  background-size: 115%;
  height: 50vh;
  -webkit-animation-name: MOVE-BG;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: initial;
}

.navbar {
  z-index: 1;
}
#header-top {

}
#logo {
  background-image: url("/assets/prz_logo.png");
  background-position: center left; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  padding: 7px 0 7px 80px;
  margin: 12px 0;
  //background-color: coral;
}
#logo h1, #logo h4, #logo h5 {
  padding: 2px 0;
  margin: 0;
  background-color: white;
}
#logo h1 {
  //font-size: 1em;
}
#user-menu {
  text-align: right;
  padding: 7px 0 7px 0px;
  margin: 12px 0;
}
#user-menu button {
  border-radius: 20px;
  background-color: #2196f3 !important;
}
#univ-footer-img {
  padding: 10px 0 20px 0;
}
#univ-footer-img img {
  padding: 0px 15px;
}
#univ-footer-img img:first-child {
  padding-left: 0;
}
