<header class="h-100" id="header-top">

  <div class="container-fluid">
    <div class="row justify-content-center">

      <!--<div class="container no-gutters" >-->

        <div class="row no-gutters" id="header-container">

          <div class="col-9"><!--  mt-md-0 mt-3 -->
            <div id="logo" class="">
              <h5 class="h5-responsive">Politechnika Rzeszowska im. Ignacego Łukasiewicza</h5>
              <h1 class="h1-responsive">Technologie internetowe</h1>
              <h4 class="h4-responsive">Studia podyplomowe</h4>

            </div>
          </div>

          <div class="col-3">
            <div id="user-menu">
              <button mdbBtn type="button" size="md" rounded="false" routerLink="/login" mdbWavesEffect><i class="fa fa-user" aria-hidden="true"></i> Zaloguj</button>
            </div>
          </div>

        </div>

      <!--</div>-->

    </div>

  </div>

  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue" [containerInside]="true">
    <!--<mdb-navbar-brand>-->
      <!--<a class="logo navbar-brand" href="#"><strong>Technologie internetowe</strong></a>-->
    <!--</mdb-navbar-brand>-->
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/home">Strona główna <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">O studiach</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">Organizacja</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">Plan studiów</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">Programy</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">Rekrutacja</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">FAQ</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link">Kontakt</a>
        </li>
      </ul>
    </links>
    <!--<form class="form-inline">-->
      <!--<div class="md-form mt-0">-->
        <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
      <!--</div>-->
    <!--</form>-->
  </mdb-navbar>
  <!-- Main -->
  <div class="view">
    <div class="full-bg-img">
      <div class="mask flex-center rgba-blue-strong">
        <div class="container">
          <div class="white-text text-right wow fadeInUp">
            <h2>Zdobądź wiedzę pożądaną na rynku pracy!</h2>

            <h5>Najbliższa planowana edycja studiów podyplomowych<br/>"Technologie Internetowe" - październik 2019.</h5><br/>
            <button mdbBtn type="button" color="white" outline="true" mdbWavesEffect><mdb-icon icon="external-link-square" class="mr-1"></mdb-icon>Rekrutacja</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>
<!--Main Layout-->
<main class="text-center py-5 mt-3">

  <router-outlet></router-outlet>

</main>
<!--Main Layout-->



<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!--<div class="container text-center text-md-left">-->
    <!--<div class="row">-->
      <!--<h5 class="text-uppercase">Uczelnia</h5>-->
    <!--</div>-->
  <!--</div>-->

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase">Uczelnia</h5>

        <!-- Content -->
        <div id="univ-footer-img">
          <a href="https://prz.edu.pl/" target="_blank"><img src="/assets/prz_footer.png" alt="WEII" /></a>
          <a href="https://weii.prz.edu.pl/" target="_blank"><img src="/assets/weii.png" alt="WEII" /></a>
        </div>

        <p>Dziekanat Wydziału<br/>
          Elektrotechniki i Informatyki<br/>
          Budynek A, pok. 104<br/><br/>
          Tel. +48 17 865 12 89<br/>
          Fax. +48 17 854 20 88<br/>
          E-mail: <a href="mailto:dwe@prz.edu.pl">dwe@prz.edu.pl</a></p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">



        <!-- Links -->
        <!--<h5 class="text-uppercase">Links</h5>-->
        <!--<ul class="list-unstyled">-->
          <!--<li>-->
            <!--<a href="#!">Link 1</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 2</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 3</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 4</a>-->
          <!--</li>-->
        <!--</ul>-->


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <!--<h5 class="text-uppercase">Links</h5>-->
        <!--<ul class="list-unstyled">-->
          <!--<li>-->
            <!--<a href="#!">Link 1</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 2</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 3</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#!">Link 4</a>-->
          <!--</li>-->
        <!--</ul>-->



      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Copyright © 2002 - 2018 Wydział Elektrotechniki i Informatyki, Politechnika Rzeszowska im. Ignacego Łukasiewicza</div>
  <div class="footer-copyright text-center py-3">Wszystkie prawa zastrzeżone</div>


  <!-- Copyright -->

</footer>
<!-- Footer -->
