<div class="program-header">

  <div class="mask flex-center rgba-blue-strong">
    <div class="container">
      <div class="white-text animated fadeIn">

        <div class="program-header-text">
          <h4>Semestr I</h4>
          <h2>Systemy rozproszone</h2>
        </div>

      </div>
    </div>
  </div>

</div>

<h3>Wykład</h3>

<p>Podstawy systemów rozproszonych. Komunikacja międzyprocesowa. Wywotywanie procedur zdalnych. Rozproszone systemy
  operacyjne. Model usług plikowych. Czas i koordynacja. Transakcje rozproszone. Systemy rozproszone a systemy złożone.
</p>

<!-- <h3>Laboratorium</h3>

<p>Praca z bazami MySQL i Oracle (możliwość wyboru innych systemów). Realizacja zadań indywidualnych w zakresie
  projektowania i implementacji strony serwera dla prostych systemów baz danych. </p> -->

<h3>Projekt</h3>

<p>Indywidualny projekt z zakresu aplikacji rozproszonych obliczeniowych lub e-biznesowych.</p>

<!-- <h3>Technologie</h3>

<div class="dev-icon-list">
  <i class="devicon-c-plain"></i>
  <i class="devicon-cplusplus-plain"></i>
  <i class="devicon-csharp-plain"></i>
</div> -->