<div class="program-header">

  <div class="mask flex-center rgba-blue-strong">
    <div class="container">
      <div class="white-text animated fadeIn">

        <div class="program-header-text">
          <h4>Semestr II</h4>
          <h2>Sieci komputerowe</h2>
        </div>

      </div>
    </div>
  </div>

</div>

<h3>Wykład</h3>

<p>Ewolucja sposobów przesyłania informacji w systemach komputerowych. Okablowanie sieci komputerowych. Standardy
  Ethernet, Token Ring, FDDI, ATM. Urządzenia sieciowe i ich wykorzystanie przy budowie sieci. Model ISO/OSI sieci.
  Transmisja synchroniczna i asynchroniczna. Połączenia datagramowe i wirtualne. Protokoły transmisji informacji.
  Protokoły routingu. Zjawiska samopodobieństwa. Procesy krótko i długo terminowe. Internet, Intranet i Extranet.
  Zarządzanie sieciami komputerowymi. Podstawy projektowania sieci komputerowych. Tendencje rozwoju sieci. </p>

<h3>Laboratorium</h3>

<p>Zapoznanie się z okablowaniem strukturalnym i urządzeniami sieciowymi. Poznanie protokołów przesyłu informacji i
  podstawowych procesów sieciowych: ftp, rep, mail, rlogin, itp. Badanie struktury sieci lokalnych i rozległych.
  Sieciowe oprogramowanie użytkowe w systemie UNIX. Podstawowe usługi sieci Internet. Instalacja serwera WWW (Apache) i
  FTP w systemie UNIX Solaris lub Linux - administracja.</p>

<h3>Projekt</h3>

<p>Projekt sieci komputerowej, np. sieci w firmie lub laboratorium szkolnym.</p>

<h3>Technologie</h3>

<div class="dev-icon-list">
  <i class="devicon-apache-plain" mdbTooltip="Apache" placement="top"></i>
  <i class="devicon-linux-plain" mdbTooltip="Linux" placement="top"></i>
  <i class="devicon-debian-plain" mdbTooltip="Debian" placement="top"></i>
</div>