<div class="view view-page-header">
  <div class="full-bg-img">
    <div class="mask flex-center rgba-blue-strong">
      <div class="container">
        <div class="white-text wow fadeIn">

          <h2 class="header-page">Często zadawane pytania</h2>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5 mt-3">

  <div class="container">
    <div class="row">

      <h4>1. Czy osoby z wykształceniem nietechnicznym moga składać dokumenty na studia podyplomowe Technologie
        Internetowe?</h4>

      <p>Tak, zapraszamy do składania podań wszystkie osoby z wykształceniem wyższym (posiadające dyplom licencjata,
        inżyniera lub magistra), również nietechnicznym. Planujemy realizację zajęć laboratoryjnych i projektowych w
        grupach o różnych poziomach zaawansowania - według wyboru słuchaczy. </p>

      <h4>2. Jaka będzie forma egzaminów na studiach podyplomowych Technologie Internetowe?</h4>

      <p>Wszystkie egzaminy (po 2 w semestrze zimowym i letnim) będą w formie pisemnej, wyłącznie w oparciu o wiedzę
        przekazywaną na wykładach i laboratoriach. Każdy wykładowca poda w trakcie semestru zakres zagadnień
        obowiązujących do egzaminu. </p>

      <h4>3. Jaka będzie tematyka projektów i na czym będzie polegało zaliczanie projektów?</h4>

      <p>Tematy prac projektowych dotyczyć będą wybranych zagadnień związanych z realizowanym przedmiotem. Najczęściej
        będą to projekty praktyczne związane z kodowaniem lub programowaniem, np. budowa witryny Web (desktopowej,
        mobilnej, responsywnej) lub aplikacji (desktopowej, webowej, mobilnej). Preferowane będą tematy projektów
        związane z wykonywanym przez studenta zawodem lub jego osobistymi zainteresowaniami. Projekty będą oceniane
        według kryteriów: poprawność działania, stopień skomplikowania, oryginalność tematu i rozwiązań
        programistycznych, optymalizacja kodu, wygląd interfejsu graficznego, obsługa sytuacji wyjątkowych. </p>

      <h4>4. Czy istnieje możliwość rozłożenia opłaty semestralnej na raty?</h4>

      <p>Tak, istnieje możliwość rozłożenia opłaty semestralnej na trzy miesięczne raty. Przykładowo po 1/3 opłaty za
        semestr I płatne jest do 20-tego października, 20-tego listopada i 20-tego grudnia oraz po 1/3 opłaty za
        semestr II płatne jest do 20-tego lutego, 20-tego marca i 20-tego kwietnia. </p>

      <h4>5. W jakie dni tygodnia odbywają się zajęcia i w jakich godzinach?</h4>

      <p>Zajęcia odbywają się co 2 tygodnie w soboty i niedziele. W sobotę są 4 wykłady po 2 godziny lekcyjne, w
        niedziele odbywają się zajęcia laboratoryjne lub projektowe. Zazwyczaj zajęcia w soboty i niedziele zjazdowe
        odbywają się w godzinach od 8:00 – 15:00 </p>

      <h4>6. Czy na studiach podyplomowych "Technologie Internetowe" pisze się pracę dyplomową?</h4>

      <p>Na studiach podyplomowych "Technologie Internetowe" nie pisze się pracy dyplomowej, natomiast problematyka
        interesująca słuchacza tych studiów jest realizowana w ramach indywidualnych projektów. Warunkiem ukończenia
        studiów podyplomowych i otrzymania świadectwa jest uzyskanie wszystkich wymaganych zaliczeń i zdanie wszystkich
        egzaminów. </p>

    </div>
  </div>

</div>