

<nav class="navbar navbar-expand-lg navbar-light scrolling-navbar navbar-dark blue-gradient" id="toolbar">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item mr-auto">
      <span class="nav-link">Konto</span>
    </li>
  </ul>
</nav>

<div class="container-fluid account_container">
  <div class="row">
    <div class="col-md-12">

      <div class="router-margin">
        <!--<h1>Konto</h1>-->
        <p>Login: {{ user.login }}</p>
        <p>Rola: {{ user.role }}</p>
      </div>

    </div>
  </div>
</div>
