<div class="view view-page-header">
  <div class="full-bg-img">
    <div class="mask flex-center rgba-blue-strong">
      <div class="container">
        <div class="white-text wow fadeIn">

          <h2 class="header-page">Plan studiów</h2>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5 mt-3">

  <div class="container">
    <div class="row">

      <!-- page content start -->
      <p>Studia podyplomowe "Technologie Internetowe" twają dwa semestry i ogółem ich program zawiera <b>301
          godzin zajęć</b> w postaci wykładów, laboratoriów, projektów i konsultacji z łączną liczbą <b>60 punktów ETCS</b>.
        Poniżej
        przedstawiono szczegółowy plan studiów z podziałem na semestry, poszczególne przedmioty, wymiarem godzin i
        punktów ETCS. </p>

      <h2 class="h-article">Semestr I</h2>

      <table mdbTable bordered="true">
        <thead>
          <tr>
            <th scope="col">Przedmiot</th>
            <th scope="col" class="smaller-col">Wykład</th>
            <th scope="col" class="smaller-col">Laboratorium</th>
            <th scope="col" class="smaller-col">Projekt</th>
            <th scope="col" class="smaller-col">Konsultacje</th>
            <th scope="col" class="smaller-col">Razem</th>
            <th scope="col" class="smaller-col">ECTS</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol>
            <th scope="row">Programowanie obiektowe</th>
            <td>14</td>
            <td>14</td>
            <td>7</td>
            <td>7</td>
            <td>42 - E <i class="fa fa-info-circle" mdbTooltip="Egzamin" placement="top" aria-hidden="true"></i></td>
            <td>9</td>
          </tr>
          <tr mdbTableCol>
            <th scope="row">Technologie sieci Web</th>
            <td>14</td>
            <td>14</td>
            <td>7</td>
            <td>7</td>
            <td>42 - E <i class="fa fa-info-circle" mdbTooltip="Egzamin" placement="top" aria-hidden="true"></i></td>
            <td>9</td>
          </tr>

          <tr mdbTableCol>
            <th scope="row">Projektowanie baz danych</th>
            <td>14</td>
            <td>14</td>
            <td>7</td>
            <td>7</td>
            <td>42 - Z <i class="fa fa-info-circle" mdbTooltip="Zaliczenie" placement="top" aria-hidden="true"></i></td>
            <td>7</td>
          </tr>

          <tr mdbTableCol>
            <th scope="row">Systemy rozproszone</th>
            <td>14</td>
            <td>-</td>
            <td>14</td>
            <td>-</td>
            <td>28 - Z <i class="fa fa-info-circle" mdbTooltip="Zaliczenie" placement="top" aria-hidden="true"></i></td>
            <td>5</td>
          </tr>

          <tr class="table-summary" mdbTableCol>
            <th scope="row">Łącznie godzin/punktów</th>
            <td>56</td>
            <td>42</td>
            <td>35</td>
            <td>21</td>
            <td>151</td>
            <td>30</td>
          </tr>

        </tbody>
      </table>

      <h2 class="h-article">Semestr II</h2>

      <table mdbTable bordered="true">
        <thead>
          <tr>
            <th scope="col">Przedmiot</th>
            <th scope="col" class="smaller-col">Wykład</th>
            <th scope="col" class="smaller-col">Laboratorium</th>
            <th scope="col" class="smaller-col">Projekt</th>
            <th scope="col" class="smaller-col">Konsultacje</th>
            <th scope="col" class="smaller-col">Razem</th>
            <th scope="col" class="smaller-col">ECTS</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol>
            <th scope="row">Programowanie w języku Java
            </th>
            <td>14</td>
            <td>14</td>
            <td>7</td>
            <td>7</td>
            <td>42 - Z <i class="fa fa-info-circle" mdbTooltip="Zaliczenie" placement="top" aria-hidden="true"></i></td>
            <td>7</td>
          </tr>
          <tr mdbTableCol>
            <th scope="row">Sieci komputerowe
            </th>
            <td>14</td>
            <td>14</td>
            <td>7</td>
            <td>7</td>
            <td>42 - E <i class="fa fa-info-circle" mdbTooltip="Egzamin" placement="top" aria-hidden="true"></i></td>
            <td>9</td>
          </tr>

          <tr mdbTableCol>
            <th scope="row">Aplikacje bazodanowe</th>
            <td>14</td>
            <td>14</td>
            <td>7</td>
            <td>7</td>
            <td>42 - E <i class="fa fa-info-circle" mdbTooltip="Egzamin" placement="top" aria-hidden="true"></i></td>
            <td>9</td>
          </tr>

          <tr mdbTableCol>
            <th scope="row">Przedmiot obieralny*</th>
            <td>14</td>
            <td>7</td>
            <td>-</td>
            <td>-</td>
            <td>21 - Z <i class="fa fa-info-circle" mdbTooltip="Zaliczenie" placement="top" aria-hidden="true"></i></td>
            <td>5</td>
          </tr>

          <tr class="table-summary" mdbTableCol>
            <th scope="row">Łącznie godzin/punktów</th>
            <td>56</td>
            <td>49</td>
            <td>21</td>
            <td>21</td>
            <td>147</td>
            <td>30</td>
          </tr>

        </tbody>
      </table>

      <h2 class="h-article">Łącznie</h2>

      <table mdbTable bordered="true">
        <thead>
          <tr>
            <th scope="col">Przedmiot</th>
            <th scope="col" class="smaller-col">Wykład</th>
            <th scope="col" class="smaller-col">Laboratorium</th>
            <th scope="col" class="smaller-col">Projekt</th>
            <th scope="col" class="smaller-col">Konsultacje</th>
            <th scope="col" class="smaller-col">Razem</th>
            <th scope="col" class="smaller-col">ECTS</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-summary" mdbTableCol>
            <th scope="row">Łącznie godzin/punktów</th>
            <td>112</td>
            <td>91</td>
            <td>56</td>
            <td>42</td>
            <td>301</td>
            <td>60</td>
          </tr>
        </tbody>
      </table>

      
      <blockquote class="blockquote bq-primary">
          <p>* Studenci w trakcie trwania studiów będą mieli możliwość wybrania w ramach przedmiotu obieralnego jednego z
              czterech przedmiotów: Grafika komputerowa, Programowanie systemów ekspertowych, Sztuczna inteligencja,
              Technologie programistyczne usług internetowych.</p>
      </blockquote>
    
      <blockquote class="blockquote bq-secondary program-muted">
        <p class="warn">Zastrzeżenie</p>
        <p>Wydział Elektrotechniki i Informatyki Politechniki Rzeszowskiej zastrzega sobie prawo dokonywania zmian i
          uzupełnień w programach przedmiotów!
        </p>
      </blockquote>

      <!-- END page content start -->

    </div>
  </div>

</div>