<div class="program-header">

  <div class="mask flex-center rgba-blue-strong">
    <div class="container">
      <div class="white-text animated fadeIn">

        <div class="program-header-text">
          <h4>Semestr II</h4>
          <h2>Programowanie w języku JAVA</h2>
        </div>

      </div>
    </div>
  </div>

</div>

<h3>Wykład</h3>

<p>Technologia Java. Platforma JAVA - architektura, podstawowe pojęcia (JVM, Java API, JAVA SE, JAVA EE, JAVA ME).
  Podstawy języka JAVA, podstawowe cechy i pojęcia (aplikacja, serwlet, doklet, midlet, portlet i inne). Narzędzia,
  opcje kompilatora, błędy kompilacji, błędy wykonania. Przykłady aplikacji.
  Podstawy programowania w języku JAVA - słowa kluczowe, typy danych, literały, operatory, deklaracje zmiennych,
  podstawowe instrukcje programowania. JAVA - programowanie obiektowe, dziedziczenie. Klasy, pola danych, metody,
  obiekty. Hermetyzacja, przeciążanie metod. Konwersje typów. Obsługa wyjątków. Podstawy bibliotek AWT i Swing,
  hierarchia klas, samodzielne aplikacje. Elementy grafiki, obrazy graficzne, dźwięki, operacje I/O.
  Budowa graficznego interfejsu użytkownika (GUI), podstawy, kontenery i komponenty. Techniki zarządzania układem
  komponentów bibliotek AWT, Swing, JavaFX. Budowa menu, belki narzędziowej, paska statusu.
  Java - interfejsy, klasy zagnieżdżone, klasy anonimowe. Programowanie obsługi zdarzeń, podstawy, kategorie zdarzeń.
  Obsługa zdarzeń w klasie głównej, wewnętrznej, anonimowej klasie wewnętrznej, klasie zewnętrznej, obsługa akcji.
  Przykłady obsługi zdarzeń, zdarzenia od komponentów, myszy i klawiatury. Aplikacje MVC.
  Biblioteki JavaFX i Swing, typy kontenerów najwyższego poziomu, wybrane komponenty. Swing, okna dialogowe,
  formatowanie tekstu, warstwy, mechanizm przeciągnij i upuść, operacje cofnij i powtórz, dynamiczna zmiana wyglądu,
  akcje klawiaturowe, mnemoniki.
  Podstawy technologii JavaBeans, serializacja obiektów. Java JSON oraz Java i XML - DOM, SAX, XSLT. Elementy
  komunikacji sieciowej i podstawy bezpieczeństwa. Podstawy Java EE, kontenery i komponenty. Aplikacje internetowe,
  serwlety, technologie JSF, JSP.
  Java ME, Java Android. </p>

<h3>Laboratorium</h3>

<p>Zapoznanie się z platformami Java SE, EE i ME. Tworzenie aplikacji JavaFX, aplikacji Web (JSF, JSP, Serwlety),
  aplikacji biznesowych (EJB, JPA, JTA) w środowiskach IDE (NetBeans IDE, Eclipse). Budowa aplikacji mobilnych (Android
  Studio). </p>

<h3>Projekt</h3>

<p>Opracowanie indywidualnego projektu w języku Java (aplikacji Web, aplikacji JavaFX, aplikacji Java EE lub aplikacji
  Java Android (natywnej lub hybrydowej).</p>

<h3>Technologie</h3>

<div class="dev-icon-list">
  <i class="devicon-c-plain"></i>
  <i class="devicon-cplusplus-plain"></i>
  <i class="devicon-csharp-plain"></i>
</div>