<div class="program-header">

    <div class="mask flex-center rgba-blue-strong">
        <div class="container">
          <div class="white-text animated fadeIn">
            
            <div class="program-header-text">
                <h4>Semestr I</h4>  
                <h2>Programowanie obiektowe</h2>
            </div>
            
          </div>
        </div>
      </div>
    
</div>

<h3>Wykład</h3>

<p>Struktura i typy danych. Funkcje i procedury. Moduły programu. Biblioteki funkcji i procedur. Podstawowe operacje. Zasady programowania obiektowego. Pojęcie klasy i obiektu. Podstawowe funkcje do inicjalizacji i usuwania obiektów (konstruktory i destruktory). Funkcje wirtualne. Dziedziczenie i polimorfizm. Wykorzystanie dynamicznej alokacji pamięci. Zintegrowane środowiska programowe języka C++. Opcje kompilatora. Proces programowania. Struktura programu. Wybór optymalnego rozmiaru modelu programu. Niezawodność oprogramowania.</p>

<h3>Laboratorium</h3>

<p>Uruchamianie przykładowych programów w języku C++ z wykorzystaniem klas i obiektów ze szczególnym uwzględnieniem ich cech, tj. polimorfizmu i dziedziczności. Testowanie i debugging programów. Błędy - metody ich wykrywania i usuwania. Wybór opcji kompilatora. Parametryzacja programu. Procedury pomocnicze ułatwiające uruchomienie i testowanie programu. Badanie wpływu struktury programu i parametrów kompilatora na wielkość kodu i czas wykonania.</p>

<h3>Projekt</h3>

<p>Opracowanie indywidualnych programów w języku C++.</p>

<h3>Technologie</h3>

<div class="dev-icon-list">
    <i class="devicon-c-plain"></i>
    <i class="devicon-cplusplus-plain"></i>
    <i class="devicon-csharp-plain"></i>
</div>