/* You can add global styles to this file, and also import other style files */

// regular style toast
@import '~ngx-toastr/toastr.css';

$view-page-header-height: 22vh;

// ::-webkit-scrollbar the scrollbar.
// ::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards).
// ::-webkit-scrollbar-thumb the draggable scrolling handle.
// ::-webkit-scrollbar-track the track (progress bar) of the scrollbar.
// ::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle.
// ::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
// ::-webkit-resizer the draggable resizing handle that appears at the bottom corner of some elements.

html {
  //font-size: 100%;
}
h1, h2, h3, h4, h5, h6, .p-100 {
  width: 100%;
}
a {
  color: #2196f3;
}
a:hover {
  color: black;
}
.h-article {
  padding: 1em 0;
  font-size: 1.6em;
}
.bg-grey-light {
  background-color: rgba(0, 0, 0, 0.02);
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  body {

  }
  .navbar-dark {
    background: linear-gradient(45deg, #45cafc, #303f9f) !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .view-100vh-longer {
    min-height: 100vh;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

.navbar-collapse.show, .navbar-collapse.collapsing {

}

.navbar {
  z-index: 10;
  box-shadow: none !important;
}
#header-top .navbar {
  z-index: 12;
}
.view-100vh {
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

// większy navabar po scrollowaniu
.top-nav-collapse {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  background: linear-gradient(45deg, #45cafc, #303f9f) !important;
}

.view-page-header {
  // bg-img w #
  background-image: url("/assets/stefan-stefancik-297983-unsplash.jpg");
  background-position: 50% 45%;
  background-repeat: no-repeat;
  height: $view-page-header-height; // 27
  // height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-color: #2196f3;
  -webkit-animation-name: LOADING;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes LOADING {
  0% {
    height: 100vh;
  }
  70% {
    height: 100vh;
  }
  100% {
    height: $view-page-header-height;
  }
}
.view-page-header .rgba-blue-strong, .view-page-header .rgba-blue-strong:after {
  -webkit-animation-name: LOADING-BG;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  background-color: rgba(33, 150, 243, 1);
}
@-webkit-keyframes LOADING-BG {
  0% {
    background-color: rgba(33, 150, 243, 0.7);
  }
  70% {
    background-color: rgba(33, 150, 243, 0.7);
  }
  100% {
    background-color: rgba(33, 150, 243, 1);
  }
}


.view-admin-header {
  // bg-img w #
  //background-image: url("/assets/anders-jilden-478920-unsplash.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  height: $view-page-header-height;
  background-attachment: fixed;
  background-size: cover;
  //background-color: #2196f3;
  color: rgba(0,0,0,0.7);

}
.view-admin-header .header-page {
  padding-top: 80px;
  font-size: 1.5em;
  color: rgba(0,0,0,0.7);
}

.view-page-header .header-page {
  padding-top: 9vh;
  font-size: 1.8em;
}
.view-page-header .container {
  padding-left: 0;
  padding-right: 0;
}
.view-page-100vh {
  height: 100vh;
  background: #2196f3 url("/assets/rawpixel-678089-unsplash.jpg") no-repeat fixed;
  background-size: cover;
}
.view-page-100vh .header-page {
  padding: 3vh 0;
}

.view-auto {
  height: auto;
}

.table thead tr {
  background-color: rgba(0,0,0,0.03);
}
.tr-click {
  cursor: pointer;
}
.aqua-gradient {
  background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
  background: -o-linear-gradient(50deg,#2096ff,#05ffa3)!important;
  background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
}
.blue-gradient {
  background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
  background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
  background: linear-gradient(40deg,#45cafc,#303f9f)!important;
}
// .navbar {
  
// }
.panel-nav .navbar {
  background: grey none !important;
  box-shadow: none;
}
.page-nav .navbar {
  background: #2196f3 none !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10), 0 2px 10px 0 rgba(0, 0, 0, 0.10) !important;
}

.ladowanie {
  text-align: center;
  color: rgba(0,0,0,0.75);
}
.ladowanie i {
  margin: 0 5px;
}

.ladowanie:hover {
  background-color: inherit !important;
}

.program-header-text {
  padding: 0 2em;
}
.program-header-text h3 {
  // font-weight: bold;
  padding: 0;
}
.program-muted {
  margin-top: 2.5em;
  background-color: rgba(0,0,0,0.02);
  width: 100%;
}
.blockquote p {
  padding: 0;
  font-size: 0.8em;
}
.program-muted p {
  color: rgba(0,0,0,0.5);
}
.program-muted p.warn {
  font-weight: bold;
  padding: 0.75em 0 0 0;
}
.btn-rounded {
  -webkit-border-radius: 10em;
  border-radius: 10em;
}
.btn-floating {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.btn-floating i {
  display: inline-block;
  width: inherit;
  text-align: center;
  color: #fff;
  font-size: 1.25rem;
  line-height: 47px;
}

.left-col-icon {
  padding: 1em 0;
}
.left-col-icon-last {
  padding-bottom: 0;
}
.left-col-icon .icon-left h2 {
  text-align: center;
}


