/* You can add global styles to this file, and also import other style files */

// regular style toast
@import '~ngx-toastr/toastr.css';

// ::-webkit-scrollbar the scrollbar.
// ::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards).
// ::-webkit-scrollbar-thumb the draggable scrolling handle.
// ::-webkit-scrollbar-track the track (progress bar) of the scrollbar.
// ::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle.
// ::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
// ::-webkit-resizer the draggable resizing handle that appears at the bottom corner of some elements.

html {
  //font-size: 100%;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  body {

  }
  .navbar-dark {
    background: linear-gradient(45deg, #45cafc, #303f9f) !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .view-100vh-longer {
    min-height: 100vh;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

.navbar-collapse.show, .navbar-collapse.collapsing {

}


.view-100vh {
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

.top-nav-collapse {
  //background-color: #2196f3;
  background: linear-gradient(45deg, #45cafc, #303f9f) !important;
}

.view-page-header {
  // bg-img w #
  //background-image: url("/assets/anders-jilden-478920-unsplash.jpg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  height: 27vh;
  background-attachment: fixed;
  background-size: cover;
  background-color: #2196f3;
}
.view-page-header .header-page {
  padding-top: 64px;
  font-size: 1.5em;
}


.view-page-100vh {
  height: 100vh;
  background: #2196f3 url("/assets/rawpixel-678089-unsplash.jpg") no-repeat fixed;
  background-size: cover;
}
.view-page-100vh .header-page {
  padding: 3vh 0;
}

.view-auto {
  height: auto;
}

