<div class="program-header">

  <div class="mask flex-center rgba-blue-strong">
    <div class="container">
      <div class="white-text animated fadeIn">

        <div class="program-header-text">
          <h4>Przedmiot obieralny</h4>
          <h2>Grafika komputerowa</h2>
        </div>

      </div>
    </div>
  </div>

</div>

<h3>Wykład</h3>

<p>Grafika rastrowa i wektorowa. Metody przetwarzania grafiki 2D. Animowane formy plików graficznych GIF, JPEG, AVI.
  Podstawy tworzenia realistycznej grafiki 3D. Biblioteki graficzne OpenGL, OpenInventor, Direct3D i sposoby ich
  wykorzystania w przeglądarkach graficznych. Standardy plików przeznaczonych do przesyłania obiektów trójwymiarowych w
  ramach sieci Internet: VRML97, X3D. Struktura formatu danych zgodna z X3D. Pojęcia węzła, bloku, atrybutu, prototypu,
  klasy. Model obsługi zdarzeń, sposoby konstrukcji interaktywnego interfejsu użytkownika. Aranżowanie sceny
  graficznej, ustalanie atrybutów oraz scenariuszy prezentacji. Zasady tworzenia pliku zasobów. Konstruowanie
  przykładowych obiektów graficznych zgodnych z X3D-XML i X3D-VRML. Przetwarzanie plików X3D z wykorzystaniem języka
  Java i bibliotek Java3D oraz JavaGL. Przetwarzanie plików X3D przy użyciu C++ oraz biblioteki OpenInventor.
  Architektura typowej przeglądarki 3D. Sprzętowa akceleracja operacji graficznych. Ewolucja formatów kodowania
  obiektów trójwymiarowych - standard O2C. </p>

<h3>Laboratorium</h3>

<p>Analizowanie szablonów przykładowych obiektów graficznych zgodnych z X3D-XML i X3D-VRML. Poznawanie klas obiektów
  graficznych oraz metod i technik prezentacji sceny. Konstruowanie obiektów z użyciem szablonów w środowisku języka
  Java oraz C++. Implementowanie interfejsu obiektu dla typowej przeglądarki 3D. Wprowadzanie zdarzeń i metod ich
  obsługi. Zwiększanie złożoności obiektu oraz sceny w aspekcie ilościowym i jakościowym. Przetwarzanie opracowanych
  plików X3D w sieci Internet. Opracowanie i wykonanie indywidualnego projektu graficznego z wykorzystaniem standardu
  X3D -XML lub X3D-VRML.</p>

<!-- <h3>Projekt</h3>

<p>Projekt i implementacja aplikacji bazy danych w wybranym systemie. Proste sklepy internetowe.</p> -->

<h3>Technologie</h3>

<div class="dev-icon-list">
  <i class="devicon-photoshop-plain" mdbTooltip="Adobe Photoshop" placement="top"></i>
  <i class="devicon-illustrator-plain" mdbTooltip="Adobe Illustrator" placement="top"></i>
  <i class="devicon-gimp-plain" mdbTooltip="Gimp" placement="top"></i>
  <i class="devicon-inkscape-plain" mdbTooltip="Inkscape" placement="top"></i>
</div>