:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.text-red {
  color: #CC0000 !important;
}
.blue-gradient {
  color: white;
}
.container-files {
  background-color: rgba(0,0,0,0.01);
  border: 1px solid rgba(0,0,0,0.1);
  border-top: 0;
}
.container-files table {
  margin-bottom: 0;
}
.container-files table tbody tr:hover {
  background-color: rgba(0,0,0,0.05);
}
.container .content {

}
.container .content .grid-list {

}
.grid-list .grid-tile {
  padding: 10px;
  //background-color: #2196f3;

}
.grid-tile .file-or-folder-icon {
  //font-size: 46px;
}
.file-name {

}
.file-icon {
  width: 25px;
}
.file-icon {

}

.file-or-folder {
  padding: 8px;
  overflow: hidden;
  text-align: center;
  //width: 75px;
}

.file-or-folder-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  text-align: center;
  padding-left: 0.5rem;
  color: rgba(0,0,0,0.7);
}

.pointer {
  cursor: pointer;
}
.file-menu {
  text-align: right;
  width: 90px;
}
.file-menu .btn-group {
  display: inline;
}
.file-modified {
  text-align: left;
}
.file-menu i {
  padding: 0 10px;
}

.spacer {
  flex: 1 1 auto;
}
.dropdown-item {}
.dropdown-item i {
  padding: 0;
  margin: 0;
  width: 25px;
}
.back-button {
  //margin-right: 0.3em;
}
.back-button a {
  //background-color: rgba(255,255,255,0.75);
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  border-radius: 50%;
}
.back-button a:hover {
  //background-color: rgba(255,255,255,0.95);
}
.back-button a i {
  font-size: 1.25em;
  color: white;
  padding-top: 0.08em;
}

.pusty-folder:hover {
  background-color: inherit !important;
}
.file-invisible {
  background-color: rgba(0, 0, 0, 0.01);
  color: rgba(0,0,0,0.6);
}
.visibilityToggleTooltip {
  width: 100px;
  text-align: center;
}