<div class="program-header">

    <div class="mask flex-center rgba-blue-strong">
        <div class="container">
          <div class="white-text animated fadeIn">
            
            <div class="program-header-text">
                <h4>Semestr I</h4>  
                <h2>Technologie sieci Web</h2>
            </div>
            
          </div>
        </div>
      </div>
    
</div>

<h3>Wykład</h3>

<p>Problematyka technologii Web, przegląd technologii. Język HTML, reguły składni, DTD, budowa dokumentu HTML,
  formatowanie tekstu, odsyłacze hipertekstowe. Formularze, metody GET i POST.
  Projektowanie witryn desktopowych, mobilnych oraz responsywnych, HTML5, CSS3 (techniki projektowania AWD i RWD).
  Aplikacje SPA i PWA.
  Język JavaScript, sposoby umieszczania skryptów JavaScript. Podstawy programowania, zmienne, funkcje, instrukcje
  sterujące, klasy, główne obiekty, metody, zdarzenia. JavaScript - przykłady. Obiektowy model dokumentu, HTML DOM -
  dostęp do elementów, przykłady.
  Język XML, podstawy języka, definicje, aplikacje XML, obszary zastosowań. Elementy składowe technologii XML.
  Podstawowe zasady składni języka XML. Techniki tworzenia dokumentów XML. Techniki wyświetlania dokumentów XML.
  Język XML - cz.2, obiektowy model dokumentu XML DOM, dostęp do elementów drzewa DOM. XML - przestrzenie nazw.
  Dokumenty poprawne strukturalnie, DTD, XML Schema. Zastosowanie języka XSL, pisanie szablonów, wyświetlanie plików
  XML. Języki XSLT oraz XPath - przekształcanie dokumentu XML do innych formatów, np. XHTML. Tworzenie szablonów.
  Dynamiczne przekształcenia XSLT.
  Technologia AJAX - tworzenie interfejsów stron webowych, umożliwiających zmianę fragmentu zawartości bez
  przeładowania całej strony. Podstawy działania AJAX, komponenty aplikacji AJAX, tworzenie obiektu XMLHttpRequest.
  Wysyłanie żądań i obsługa odpowiedzi. Przykłady, Google Maps.
  Budowa witryn i aplikacji internetowych z zastosowaniem języka programowania PHP. Obsługa baz danych oraz
  przetwarzanie dokumentów XML i korzystanie z technologii AJAX w aplikacjach PHP. PHP - programowanie obiektowe,
  budowa aplikacji MVC.
  Web Services, architektura, SOAP, WSDL, UDDI. Semantic Web, metadane, ontologie, logika, agenci.
</p>

<h3>Laboratorium</h3>

<p>Przykłady budowy witryn internetowych z zastosowaniem technologii omawianych na wykładzie. Instalacja witryny na serwerze WWW, prawa dostępu, zagadnienia bezpieczeństwa. </p>

<h3>Projekt</h3>

<p>Opracowanie indywidualnego serwisu WWW z zastosowaniem wybranych technologii sieci Web i publikacja go na własnym koncie w sieci Internet.</p>

<h3>Technologie</h3>

<div class="dev-icon-list">
    <i class="devicon-c-plain"></i>
    <i class="devicon-cplusplus-plain"></i>
    <i class="devicon-csharp-plain"></i>
</div>